/* line 3, sass/admin.scss */
.postbox-container .utazasalap-postbox h2.hndle {
  font-size: 1.2em !important;
  background: #F8BE38;
  color: white;
}
/* line 10, sass/admin.scss */
.postbox-container .utazaseditor-postbox h2.hndle {
  font-size: 1.2em !important;
  background: #1185D3;
  color: white;
}
/* line 15, sass/admin.scss */
.postbox-container .utazaseditor-postbox .inside {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 23, sass/admin.scss */
.travel-editor.loading {
  opacity: 0.2;
  filtar: alpha(opacity=20);
}
/* line 28, sass/admin.scss */
.travel-editor > .group .ghead {
  background: #f1f1f1;
  padding: 10px 15px !important;
  margin: 0 0 15px 0 !important;
  position: relative;
}
/* line 34, sass/admin.scss */
.travel-editor > .group .ghead .add {
  float: right;
  background: #6fbf6f;
  color: white;
  padding: 7px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  right: 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 49, sass/admin.scss */
.travel-editor > .group .ghead .add:hover {
  background: #000000;
}
/* line 54, sass/admin.scss */
.travel-editor > .group .cont {
  padding: 0 15px 15px 15px;
}
/* line 58, sass/admin.scss */
.travel-editor > .group .loading-data {
  background: #ffedb9;
  color: #58450b;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e8d8a9;
}
/* line 67, sass/admin.scss */
.travel-editor > .group h2 {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 0.8em !important;
}
/* line 81, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper,
.travel-editor > .group .datas .new-line > .wrapper,
.travel-editor > .group .datas-header .data-line > .wrapper,
.travel-editor > .group .datas-header .new-line > .wrapper,
.travel-editor > .group .create-line .data-line > .wrapper,
.travel-editor > .group .create-line .new-line > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.1em;
  padding: 5px 0;
  border-bottom: 1px solid #f1f1f1;
}
/* line 91, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper input.fullw,
.travel-editor > .group .datas .new-line > .wrapper input.fullw,
.travel-editor > .group .datas-header .data-line > .wrapper input.fullw,
.travel-editor > .group .datas-header .new-line > .wrapper input.fullw,
.travel-editor > .group .create-line .data-line > .wrapper input.fullw,
.travel-editor > .group .create-line .new-line > .wrapper input.fullw {
  width: 100%;
}
/* line 94, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div,
.travel-editor > .group .datas .new-line > .wrapper > div,
.travel-editor > .group .datas-header .data-line > .wrapper > div,
.travel-editor > .group .datas-header .new-line > .wrapper > div,
.travel-editor > .group .create-line .data-line > .wrapper > div,
.travel-editor > .group .create-line .new-line > .wrapper > div {
  padding: 5px;
}
/* line 98, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.action,
.travel-editor > .group .datas .new-line > .wrapper > div.action,
.travel-editor > .group .datas-header .data-line > .wrapper > div.action,
.travel-editor > .group .datas-header .new-line > .wrapper > div.action,
.travel-editor > .group .create-line .data-line > .wrapper > div.action,
.travel-editor > .group .create-line .new-line > .wrapper > div.action {
  flex-basis: 80px;
  font-size: 0.8em;
  text-align: right;
}
/* line 103, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.price,
.travel-editor > .group .datas .new-line > .wrapper > div.price,
.travel-editor > .group .datas-header .data-line > .wrapper > div.price,
.travel-editor > .group .datas-header .new-line > .wrapper > div.price,
.travel-editor > .group .create-line .data-line > .wrapper > div.price,
.travel-editor > .group .create-line .new-line > .wrapper > div.price {
  flex-basis: 100px;
}
/* line 106, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.price span.ba,
.travel-editor > .group .datas .new-line > .wrapper > div.price span.ba,
.travel-editor > .group .datas-header .data-line > .wrapper > div.price span.ba,
.travel-editor > .group .datas-header .new-line > .wrapper > div.price span.ba,
.travel-editor > .group .create-line .data-line > .wrapper > div.price span.ba,
.travel-editor > .group .create-line .new-line > .wrapper > div.price span.ba {
  font-size: 0.8em;
}
/* line 110, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.durration,
.travel-editor > .group .datas .new-line > .wrapper > div.durration,
.travel-editor > .group .datas-header .data-line > .wrapper > div.durration,
.travel-editor > .group .datas-header .new-line > .wrapper > div.durration,
.travel-editor > .group .create-line .data-line > .wrapper > div.durration,
.travel-editor > .group .create-line .new-line > .wrapper > div.durration {
  flex-basis: 120px;
}
/* line 113, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.req,
.travel-editor > .group .datas .new-line > .wrapper > div.req,
.travel-editor > .group .datas-header .data-line > .wrapper > div.req,
.travel-editor > .group .datas-header .new-line > .wrapper > div.req,
.travel-editor > .group .create-line .data-line > .wrapper > div.req,
.travel-editor > .group .create-line .new-line > .wrapper > div.req {
  flex-basis: 60px;
}
/* line 116, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.date,
.travel-editor > .group .datas .new-line > .wrapper > div.date,
.travel-editor > .group .datas-header .data-line > .wrapper > div.date,
.travel-editor > .group .datas-header .new-line > .wrapper > div.date,
.travel-editor > .group .create-line .data-line > .wrapper > div.date,
.travel-editor > .group .create-line .new-line > .wrapper > div.date {
  flex: 1;
}
/* line 119, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.title,
.travel-editor > .group .datas .new-line > .wrapper > div.title,
.travel-editor > .group .datas-header .data-line > .wrapper > div.title,
.travel-editor > .group .datas-header .new-line > .wrapper > div.title,
.travel-editor > .group .create-line .data-line > .wrapper > div.title,
.travel-editor > .group .create-line .new-line > .wrapper > div.title {
  flex: 1;
}
/* line 123, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper .center,
.travel-editor > .group .datas .new-line > .wrapper .center,
.travel-editor > .group .datas-header .data-line > .wrapper .center,
.travel-editor > .group .datas-header .new-line > .wrapper .center,
.travel-editor > .group .create-line .data-line > .wrapper .center,
.travel-editor > .group .create-line .new-line > .wrapper .center {
  text-align: center;
}
/* line 127, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper .desc,
.travel-editor > .group .datas .new-line > .wrapper .desc,
.travel-editor > .group .datas-header .data-line > .wrapper .desc,
.travel-editor > .group .datas-header .new-line > .wrapper .desc,
.travel-editor > .group .create-line .data-line > .wrapper .desc,
.travel-editor > .group .create-line .new-line > .wrapper .desc {
  font-size: 0.8em;
  margin: 5px 0 0 0;
  color: #888888;
}
/* line 137, sass/admin.scss */
.travel-editor > .group .datas-header .wrapper {
  border-bottom: 2px solid #c7c7c7 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em !important;
  margin: 0 0 8px 0;
  color: #545454;
}
/* line 148, sass/admin.scss */
.travel-editor > .group .create-line .header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
  text-transform: uppercase;
  color: orange;
}
/* line 157, sass/admin.scss */
.travel-editor > .group .create-line .footer .saving {
  background: #57bb37;
  margin: 10px 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
