/* line 5, sass/admin.scss */
.postbox-container .utazasalap-postbox h2.hndle {
  font-size: 1.2em !important;
  background: #F8BE38;
  color: white;
}
/* line 12, sass/admin.scss */
.postbox-container .utazaseditor-postbox h2.hndle {
  font-size: 1.2em !important;
  background: #1185D3;
  color: white;
}
/* line 17, sass/admin.scss */
.postbox-container .utazaseditor-postbox .inside {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 24, sass/admin.scss */
md-input-container {
  margin: 0 0 15px 0 !important;
}

/* line 27, sass/admin.scss */
md-toolbar h2 {
  color: white !important;
}

/* line 31, sass/admin.scss */
md-dialog h2.md-title {
  padding: 0 0 15px 0 !important;
  font-weight: bold !important;
  color: black !important;
  font-size: 1.45em !important;
}
/* line 37, sass/admin.scss */
md-dialog .saving-dialog-data {
  color: red;
  margin: 15px 0;
  text-align: center;
}
/* line 42, sass/admin.scss */
md-dialog .preloader-text {
  text-align: center;
  font-size: 1.1em;
  color: #7c7c7c;
  line-height: 1.2;
  padding: 25px;
}
/* line 49, sass/admin.scss */
md-dialog .preloader-text h2 {
  font-weight: bold !important;
  color: black !important;
  margin: 0 0 10px 0 !important;
  font-size: 1.3em !important;
}
/* line 56, sass/admin.scss */
md-dialog .preloader-text i {
  font-size: 48px;
  margin: 0 0 10px 0;
}

/* line 64, sass/admin.scss */
.travel-editor.loading {
  opacity: 0.2;
  filtar: alpha(opacity=20);
}
/* line 69, sass/admin.scss */
.travel-editor > .group .ghead {
  background: #f1f1f1;
  padding: 10px 15px !important;
  margin: 0 0 15px 0 !important;
  position: relative;
}
/* line 75, sass/admin.scss */
.travel-editor > .group .ghead .add {
  float: right;
  background: #6fbf6f;
  color: white;
  padding: 7px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  right: 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 90, sass/admin.scss */
.travel-editor > .group .ghead .add:hover {
  background: #000000;
}
/* line 95, sass/admin.scss */
.travel-editor > .group .cont {
  padding: 0 15px 15px 15px;
}
/* line 99, sass/admin.scss */
.travel-editor > .group .loading-data {
  background: #ffedb9;
  color: #58450b;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e8d8a9;
}
/* line 108, sass/admin.scss */
.travel-editor > .group h2 {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 0.8em !important;
}
/* line 122, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper,
.travel-editor > .group .datas .new-line > .wrapper,
.travel-editor > .group .datas-header .data-line > .wrapper,
.travel-editor > .group .datas-header .new-line > .wrapper,
.travel-editor > .group .create-line .data-line > .wrapper,
.travel-editor > .group .create-line .new-line > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.1em;
  padding: 5px 0;
  border-bottom: 1px solid #f1f1f1;
}
/* line 132, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper input.fullw,
.travel-editor > .group .datas .new-line > .wrapper input.fullw,
.travel-editor > .group .datas-header .data-line > .wrapper input.fullw,
.travel-editor > .group .datas-header .new-line > .wrapper input.fullw,
.travel-editor > .group .create-line .data-line > .wrapper input.fullw,
.travel-editor > .group .create-line .new-line > .wrapper input.fullw {
  width: 100%;
}
/* line 135, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div,
.travel-editor > .group .datas .new-line > .wrapper > div,
.travel-editor > .group .datas-header .data-line > .wrapper > div,
.travel-editor > .group .datas-header .new-line > .wrapper > div,
.travel-editor > .group .create-line .data-line > .wrapper > div,
.travel-editor > .group .create-line .new-line > .wrapper > div {
  padding: 5px;
}
/* line 139, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.action,
.travel-editor > .group .datas .new-line > .wrapper > div.action,
.travel-editor > .group .datas-header .data-line > .wrapper > div.action,
.travel-editor > .group .datas-header .new-line > .wrapper > div.action,
.travel-editor > .group .create-line .data-line > .wrapper > div.action,
.travel-editor > .group .create-line .new-line > .wrapper > div.action {
  flex-basis: 30px;
  font-size: 0.8em;
  text-align: right;
}
/* line 144, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.price,
.travel-editor > .group .datas .new-line > .wrapper > div.price,
.travel-editor > .group .datas-header .data-line > .wrapper > div.price,
.travel-editor > .group .datas-header .new-line > .wrapper > div.price,
.travel-editor > .group .create-line .data-line > .wrapper > div.price,
.travel-editor > .group .create-line .new-line > .wrapper > div.price {
  flex-basis: 100px;
}
/* line 147, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.price span.ba,
.travel-editor > .group .datas .new-line > .wrapper > div.price span.ba,
.travel-editor > .group .datas-header .data-line > .wrapper > div.price span.ba,
.travel-editor > .group .datas-header .new-line > .wrapper > div.price span.ba,
.travel-editor > .group .create-line .data-line > .wrapper > div.price span.ba,
.travel-editor > .group .create-line .new-line > .wrapper > div.price span.ba {
  font-size: 0.8em;
}
/* line 151, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.durration,
.travel-editor > .group .datas .new-line > .wrapper > div.durration,
.travel-editor > .group .datas-header .data-line > .wrapper > div.durration,
.travel-editor > .group .datas-header .new-line > .wrapper > div.durration,
.travel-editor > .group .create-line .data-line > .wrapper > div.durration,
.travel-editor > .group .create-line .new-line > .wrapper > div.durration {
  flex-basis: 120px;
}
/* line 154, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.req,
.travel-editor > .group .datas .new-line > .wrapper > div.req,
.travel-editor > .group .datas-header .data-line > .wrapper > div.req,
.travel-editor > .group .datas-header .new-line > .wrapper > div.req,
.travel-editor > .group .create-line .data-line > .wrapper > div.req,
.travel-editor > .group .create-line .new-line > .wrapper > div.req {
  flex-basis: 60px;
}
/* line 156, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.req i[class*=fa-ban],
.travel-editor > .group .datas .new-line > .wrapper > div.req i[class*=fa-ban],
.travel-editor > .group .datas-header .data-line > .wrapper > div.req i[class*=fa-ban],
.travel-editor > .group .datas-header .new-line > .wrapper > div.req i[class*=fa-ban],
.travel-editor > .group .create-line .data-line > .wrapper > div.req i[class*=fa-ban],
.travel-editor > .group .create-line .new-line > .wrapper > div.req i[class*=fa-ban] {
  color: #fcc57b;
}
/* line 159, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.req i[class*=check-circle],
.travel-editor > .group .datas .new-line > .wrapper > div.req i[class*=check-circle],
.travel-editor > .group .datas-header .data-line > .wrapper > div.req i[class*=check-circle],
.travel-editor > .group .datas-header .new-line > .wrapper > div.req i[class*=check-circle],
.travel-editor > .group .create-line .data-line > .wrapper > div.req i[class*=check-circle],
.travel-editor > .group .create-line .new-line > .wrapper > div.req i[class*=check-circle] {
  color: #00bced;
}
/* line 163, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.date,
.travel-editor > .group .datas .new-line > .wrapper > div.date,
.travel-editor > .group .datas-header .data-line > .wrapper > div.date,
.travel-editor > .group .datas-header .new-line > .wrapper > div.date,
.travel-editor > .group .create-line .data-line > .wrapper > div.date,
.travel-editor > .group .create-line .new-line > .wrapper > div.date {
  flex: 1;
}
/* line 166, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.active,
.travel-editor > .group .datas .new-line > .wrapper > div.active,
.travel-editor > .group .datas-header .data-line > .wrapper > div.active,
.travel-editor > .group .datas-header .new-line > .wrapper > div.active,
.travel-editor > .group .create-line .data-line > .wrapper > div.active,
.travel-editor > .group .create-line .new-line > .wrapper > div.active {
  flex-basis: 40px;
}
/* line 169, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.active i[class*=fa-times],
.travel-editor > .group .datas .new-line > .wrapper > div.active i[class*=fa-times],
.travel-editor > .group .datas-header .data-line > .wrapper > div.active i[class*=fa-times],
.travel-editor > .group .datas-header .new-line > .wrapper > div.active i[class*=fa-times],
.travel-editor > .group .create-line .data-line > .wrapper > div.active i[class*=fa-times],
.travel-editor > .group .create-line .new-line > .wrapper > div.active i[class*=fa-times] {
  color: #fcc57b;
}
/* line 172, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.active i[class*=check-circle],
.travel-editor > .group .datas .new-line > .wrapper > div.active i[class*=check-circle],
.travel-editor > .group .datas-header .data-line > .wrapper > div.active i[class*=check-circle],
.travel-editor > .group .datas-header .new-line > .wrapper > div.active i[class*=check-circle],
.travel-editor > .group .create-line .data-line > .wrapper > div.active i[class*=check-circle],
.travel-editor > .group .create-line .new-line > .wrapper > div.active i[class*=check-circle] {
  color: #00bced;
}
/* line 176, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div.title,
.travel-editor > .group .datas .new-line > .wrapper > div.title,
.travel-editor > .group .datas-header .data-line > .wrapper > div.title,
.travel-editor > .group .datas-header .new-line > .wrapper > div.title,
.travel-editor > .group .create-line .data-line > .wrapper > div.title,
.travel-editor > .group .create-line .new-line > .wrapper > div.title {
  flex: 1;
}
/* line 181, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > .action i[class*=fa-trash],
.travel-editor > .group .datas .new-line > .wrapper > .action i[class*=fa-trash],
.travel-editor > .group .datas-header .data-line > .wrapper > .action i[class*=fa-trash],
.travel-editor > .group .datas-header .new-line > .wrapper > .action i[class*=fa-trash],
.travel-editor > .group .create-line .data-line > .wrapper > .action i[class*=fa-trash],
.travel-editor > .group .create-line .new-line > .wrapper > .action i[class*=fa-trash] {
  color: #ff8484;
  cursor: pointer;
  margin: 0 2px;
}
/* line 186, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > .action i[class*=fa-pencil],
.travel-editor > .group .datas .new-line > .wrapper > .action i[class*=fa-pencil],
.travel-editor > .group .datas-header .data-line > .wrapper > .action i[class*=fa-pencil],
.travel-editor > .group .datas-header .new-line > .wrapper > .action i[class*=fa-pencil],
.travel-editor > .group .create-line .data-line > .wrapper > .action i[class*=fa-pencil],
.travel-editor > .group .create-line .new-line > .wrapper > .action i[class*=fa-pencil] {
  color: #69db6a;
  cursor: pointer;
  margin: 0 2px;
}
/* line 193, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper .center,
.travel-editor > .group .datas .new-line > .wrapper .center,
.travel-editor > .group .datas-header .data-line > .wrapper .center,
.travel-editor > .group .datas-header .new-line > .wrapper .center,
.travel-editor > .group .create-line .data-line > .wrapper .center,
.travel-editor > .group .create-line .new-line > .wrapper .center {
  text-align: center;
}
/* line 197, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper .desc,
.travel-editor > .group .datas .new-line > .wrapper .desc,
.travel-editor > .group .datas-header .data-line > .wrapper .desc,
.travel-editor > .group .datas-header .new-line > .wrapper .desc,
.travel-editor > .group .create-line .data-line > .wrapper .desc,
.travel-editor > .group .create-line .new-line > .wrapper .desc {
  font-size: 0.8em;
  margin: 5px 0 0 0;
  color: #888888;
}
/* line 208, sass/admin.scss */
.travel-editor > .group .rooms .date-group > .header {
  background: #0b85d5;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 1.2em;
}
/* line 219, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group {
  padding-left: 8px;
}
/* line 221, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group > .header {
  background: #fbb03b;
  padding: 8px 10px 8px 8px;
  border-radius: 20px;
  color: white;
}
/* line 227, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group > .header .n {
  float: left;
  background: #656565;
  color: white;
  margin: 0 5px 0 0;
  width: 19px;
  border-radius: 20px;
  text-align: center;
  font-size: 0.7em;
  line-height: 19px;
}
/* line 240, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room {
  padding: 0 5px;
  margin: 0 0 5px 14px;
  border-left: 5px solid #f5f5f5;
}
/* line 245, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room.inactive {
  border-left: 5px solid #df6e6e;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 252, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room-header {
  padding: 2px 5px 0 14px;
  font-size: 0.8em;
  line-height: 1;
}
/* line 256, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper {
  border-radius: 0 5px 5px 0;
  background: #f5f5f5;
}
/* line 264, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.1em;
  padding: 5px 0;
}
/* line 273, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper input.fullw,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper input.fullw {
  width: 100%;
}
/* line 276, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div {
  padding: 5px;
}
/* line 279, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.action,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.action {
  flex-basis: 30px;
  font-size: 0.8em;
  text-align: right;
}
/* line 286, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > .action i[class*=fa-trash],
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > .action i[class*=fa-trash] {
  color: #ff8484;
  cursor: pointer;
  margin: 0 2px;
}
/* line 291, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > .action i[class*=fa-pencil],
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > .action i[class*=fa-pencil] {
  color: #69db6a;
  cursor: pointer;
  margin: 0 2px;
}
/* line 298, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.capacity,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.capacity {
  flex: 1;
}
/* line 302, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.price,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.price {
  flex-basis: 100px;
}
/* line 305, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.price span.ba,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.price span.ba {
  font-size: 0.8em;
}
/* line 309, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.title,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.title {
  flex: 1;
}
/* line 312, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.active,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.active {
  flex-basis: 40px;
}
/* line 314, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.active i[class*=fa-ban],
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.active i[class*=fa-ban] {
  color: #fcc57b;
}
/* line 317, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper > div.active i[class*=check-circle],
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper > div.active i[class*=check-circle] {
  color: #00bced;
}
/* line 322, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper .center,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper .center {
  text-align: center;
}
/* line 326, sass/admin.scss */
.travel-editor > .group .rooms .ellatas-group .room > .wrapper .desc,
.travel-editor > .group .rooms .ellatas-group .room-header > .wrapper .desc {
  font-size: 0.8em;
  margin: 5px 0 0 0;
  color: #888888;
}
/* line 337, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper {
  flex-wrap: wrap;
}
/* line 339, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas {
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: -5px;
}
/* line 348, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas label {
  margin: 0 0 5px 0;
  display: block;
  line-height: 1;
  font-size: 0.8em;
}
/* line 355, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas select.fullw {
  width: 100%;
}
/* line 362, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas .w {
  padding: 5px;
}
/* line 366, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas > .avdate, .travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas > .ellatas {
  flex-basis: 50%;
}
/* line 369, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas > .title {
  flex: 1;
}
/* line 372, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas > .price {
  flex-basis: 110px;
}
/* line 375, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas > .capacity {
  flex-basis: 140px;
}
/* line 378, sass/admin.scss */
.travel-editor > .group .rooms .create-line .new-line > .wrapper > .datas > .active {
  flex-basis: 20px;
}
/* line 388, sass/admin.scss */
.travel-editor > .group .datas-header .wrapper {
  border-bottom: 2px solid #c7c7c7 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em !important;
  margin: 0 0 8px 0;
  color: #545454;
}
/* line 399, sass/admin.scss */
.travel-editor > .group .create-line .header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
  text-transform: uppercase;
  color: orange;
}
/* line 407, sass/admin.scss */
.travel-editor > .group .create-line .footer {
  padding: 10px 0;
  text-align: right;
  margin: 0 0 40px 0;
}
/* line 412, sass/admin.scss */
.travel-editor > .group .create-line .footer .saving {
  background: #57bb37;
  margin: 10px 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
/* line 421, sass/admin.scss */
.travel-editor > .group .create-line .footer button {
  background: #57bb37;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}
/* line 433, sass/admin.scss */
.travel-editor > .group.biztositas .wrapper {
  align-items: flex-end !important;
  margin: 0 -5px !important;
}
/* line 437, sass/admin.scss */
.travel-editor > .group.biztositas .wrapper input, .travel-editor > .group.biztositas .wrapper select {
  height: 30px !important;
  line-height: 30px !important;
}
/* line 441, sass/admin.scss */
.travel-editor > .group.biztositas .wrapper label {
  display: block !important;
  margin: 0 0 5px 0 !important;
  font-weight: bold !important;
}
/* line 446, sass/admin.scss */
.travel-editor > .group.biztositas .wrapper > .price {
  flex-basis: 250px !important;
}
