/* line 3, sass/admin.scss */
.postbox-container .utazasalap-postbox h2.hndle {
  font-size: 1.2em !important;
  background: #F8BE38;
  color: white;
}
/* line 10, sass/admin.scss */
.postbox-container .utazaseditor-postbox h2.hndle {
  font-size: 1.2em !important;
  background: #1185D3;
  color: white;
}
/* line 15, sass/admin.scss */
.postbox-container .utazaseditor-postbox .inside {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 24, sass/admin.scss */
.travel-editor > .group .ghead {
  background: #f1f1f1;
  padding: 10px 15px !important;
  margin: 0 0 15px 0 !important;
  position: relative;
}
/* line 30, sass/admin.scss */
.travel-editor > .group .ghead .add {
  float: right;
  background: #6fbf6f;
  color: white;
  padding: 7px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  right: 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 45, sass/admin.scss */
.travel-editor > .group .ghead .add:hover {
  background: #000000;
}
/* line 50, sass/admin.scss */
.travel-editor > .group .cont {
  padding: 0 15px 15px 15px;
}
/* line 53, sass/admin.scss */
.travel-editor > .group h2 {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 0.8em !important;
}
/* line 64, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.1em;
  padding: 5px 0;
  border-bottom: 1px solid #f1f1f1;
}
/* line 74, sass/admin.scss */
.travel-editor > .group .datas .data-line > .wrapper > div {
  flex: 1;
}
