/* line 4, sass/base.scss */
input[type=checkbox] {
  display: none;
}

/* line 7, sass/base.scss */
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}
/* line 12, sass/base.scss */
input[type=checkbox] + label:before {
  content: "\f096";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

/* line 25, sass/base.scss */
input[type=checkbox]:checked + label:before {
  content: "\f046";
  color: #000000;
}

/* line 31, sass/base.scss */
input[type=checkbox].fake-radio + label:before {
  background: #ffffff;
  border: 2px solid #eaeaea;
  content: "\f111";
  vertical-align: middle;
  padding: 0;
  margin: 1px 0 0 0;
}

/* line 41, sass/base.scss */
input[type=checkbox].fake-radio:checked + label:before {
  content: "\f192";
  border: none;
  width: 24px;
  height: 24px;
}

/* line 49, sass/base.scss */
.tglwatcher {
  cursor: pointer;
}

/* line 54, sass/base.scss */
.tglwatcher-wrapper,
.select-wrapper {
  position: relative;
  cursor: pointer;
}
/* line 58, sass/base.scss */
.tglwatcher-wrapper:after,
.select-wrapper:after {
  pointer-events: none;
  content: "\f0d7";
  font-family: 'FontAwesome';
  right: 0;
  position: absolute;
  top: 0;
  background: #5f6c77;
  height: 34px;
  width: 20px;
  text-align: center;
  line-height: 34px;
  color: #adb5bb;
}
/* line 74, sass/base.scss */
.tglwatcher-wrapper.tgl-def:after,
.select-wrapper.tgl-def:after {
  height: 40px;
  line-height: 40px;
}

/* FIX AVADAT STYLES */
/* line 83, sass/base.scss */
body.single .fusion-page-title-bar {
  height: 380px;
  box-shadow: inset 0 -180px 200px -40px rgba(0, 0, 0, 0.85);
}
/* line 87, sass/base.scss */
body.single .fusion-page-title-wrapper {
  padding-top: 250px;
}

/* line 91, sass/base.scss */
.fusion-header-v2 .fusion-secondary-header {
  border-top: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

/* line 95, sass/base.scss */
.fusion-main-menu > ul > li > a {
  border-top: none;
  border-bottom: 3px solid transparent;
}

/* line 99, sass/base.scss */
.fusion-modal h1, .fusion-widget-area h1, .post-content h1 {
  font-size: 24px;
}

/* line 102, sass/base.scss */
.page-width {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 111, sass/base.scss */
.fusion-main-menu .current-menu-ancestor > a,
.fusion-main-menu .current-menu-item > a,
.fusion-main-menu .current-menu-parent > a,
.fusion-main-menu .current_page_item > a,
.fusion-main-menu > ul > li > a:hover {
  border-top: none;
  border-bottom: 3px solid #fbb03b;
}

/* line 115, sass/base.scss */
.fusion-page-title-wrapper {
  padding-top: 115px;
}

/* line 118, sass/base.scss */
.fusion-page-title-bar {
  background-size: inherit !important;
}

/* line 121, sass/base.scss */
.fusion-header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}

/* line 127, sass/base.scss */
.fusion-separator.short-sep {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

/* line 132, sass/base.scss */
.fusion-page-title-bar {
  background-color: #262626;
}

/* line 135, sass/base.scss */
.fusion-contact-info {
  font-size: 1.1em;
}
/* line 137, sass/base.scss */
.fusion-contact-info svg.svg-inline--fa {
  margin-right: 5px;
  vertical-align: middle;
}

/* line 142, sass/base.scss */
.avada-skin-rev {
  border: none !important;
}

/* line 145, sass/base.scss */
.ui-widget-content {
  background: rgba(56, 56, 56, 0.9);
  color: #c7c7c7;
}

/* line 149, sass/base.scss */
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div {
  border-color: #5d6b75;
}

/* line 152, sass/base.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  text-align: center;
  background: rgba(0, 0, 0, 0.58);
  border: 1px solid rgba(132, 132, 132, 0.8);
  color: #d8d8d8;
}

/* line 158, sass/base.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  text-align: center;
  background: #0b85d5;
  color: white;
}

/* line 163, sass/base.scss */
.ui-widget-header {
  border: 1px solid #6a7580;
  background: #727d86;
  color: #32c5ff;
  font-weight: bold;
}

/* line 169, sass/base.scss */
.autocomplete-suggestions {
  background: rgba(56, 56, 56, 0.9);
  border: 1px solid #5d6b75;
  border-top: 1px dashed #5d6b75;
}
/* line 174, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion {
  padding: 4px;
  font-size: 0.9em;
}
/* line 178, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion strong {
  color: #5eb4ec;
}
/* line 182, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
  background: rgba(11, 133, 213, 0.9);
  color: #b7dcf5;
}
/* line 185, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected strong {
  color: white;
}

/* line 191, sass/base.scss */
.hasDatepicker {
  cursor: pointer;
}

/* line 194, sass/base.scss */
.ui-datepicker th {
  font-family: 'Poppins', arial;
  color: #868686;
  font-weight: 300;
}

/* line 201, sass/base.scss */
.articles article {
  background: #ffffff;
  margin-bottom: 25px;
}
/* line 205, sass/base.scss */
.articles article .image {
  min-height: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
/* line 210, sass/base.scss */
.articles article .image img {
  width: auto;
  max-width: initial;
  height: 110%;
  max-height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 223, sass/base.scss */
.articles article .datas {
  padding: 40px 35px 45px 35px;
}
/* line 226, sass/base.scss */
.articles article .datas .metas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  color: #cacaca;
  font-size: 0.95em;
}
/* line 236, sass/base.scss */
.articles article .datas .metas > div {
  padding-right: 20px;
}
/* line 239, sass/base.scss */
.articles article .datas .metas > div .svg-inline--fa {
  margin-right: 5px;
}
/* line 243, sass/base.scss */
.articles article .datas .metas > div strong {
  color: #0b85d5;
}
/* line 249, sass/base.scss */
.articles article .datas .desc {
  margin: 0 0 25px 0;
}
/* line 255, sass/base.scss */
.articles article .datas .title h2 a {
  font-size: 1.5em;
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  line-height: 1.2;
}
/* line 265, sass/base.scss */
.articles article a.read-more {
  background: #0b85d5;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 35px;
  font-size: 0.9em;
  display: block;
  float: left;
}
/* line 275, sass/base.scss */
.articles article a.read-more:hover {
  background: #0867a5;
}
/* line 280, sass/base.scss */
.articles article.format-quote {
  background: #0b85d5;
  color: white;
}
/* line 284, sass/base.scss */
.articles article.format-quote .datas {
  padding: 40px;
}
/* line 288, sass/base.scss */
.articles article.format-quote .desc {
  margin: 0;
  position: relative;
}
/* line 292, sass/base.scss */
.articles article.format-quote .desc .quote-left,
.articles article.format-quote .desc .quote-right {
  position: absolute;
  font-size: 32px;
}
/* line 296, sass/base.scss */
.articles article.format-quote .desc .quote-left {
  left: 0;
  top: 0;
}
/* line 300, sass/base.scss */
.articles article.format-quote .desc .quote-right {
  right: 0;
  bottom: 10px;
}
/* line 305, sass/base.scss */
.articles article.format-quote .desc a {
  display: block;
  padding: 0 45px;
}
/* line 309, sass/base.scss */
.articles article.format-quote .desc .by {
  text-align: right;
  font-size: 0.8em;
  margin-top: 10px;
}
/* line 316, sass/base.scss */
.articles article.format-quote a {
  color: white;
  text-decoration: none;
}
/* line 322, sass/base.scss */
.articles .cat-header {
  margin: 0 0 25px 0;
}
/* line 324, sass/base.scss */
.articles .cat-header h1 {
  font-size: 2em;
  color: black;
  margin: 0 0 5px 0;
}
/* line 329, sass/base.scss */
.articles .cat-header .count-post {
  text-align: center;
  margin: 0 0 15px 0;
  color: #7c7c7c;
}

/* line 339, sass/base.scss */
.sidebar.article-sidebar h3 {
  color: black;
  margin: 0 0 15px 0;
}
/* line 344, sass/base.scss */
.sidebar.article-sidebar .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -5px;
}
/* line 352, sass/base.scss */
.sidebar.article-sidebar .tags .tag {
  padding: 5px;
}
/* line 354, sass/base.scss */
.sidebar.article-sidebar .tags .tag a {
  background: #ffffff;
  display: block;
  color: #4c4c4c;
  font-size: 0.8em;
  padding: 10px;
  line-height: 1;
  text-transform: capitalize;
  border: 1px solid #eaeaea;
}
/* line 367, sass/base.scss */
.sidebar .recent-post {
  margin-bottom: 25px;
}
/* line 370, sass/base.scss */
.sidebar .recent-post .popular-articles article {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
/* line 373, sass/base.scss */
.sidebar .recent-post .popular-articles article h4 {
  margin: 0 0 5px 0;
  line-height: 1.2;
}
/* line 376, sass/base.scss */
.sidebar .recent-post .popular-articles article h4 a {
  color: #0b85d5;
  text-decoration: none;
}
/* line 381, sass/base.scss */
.sidebar .recent-post .popular-articles article .data {
  color: #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.65em;
  justify-content: space-between;
}
/* line 392, sass/base.scss */
.sidebar .recent-post .popular-articles article .data .cats a {
  color: black;
}
/* line 397, sass/base.scss */
.sidebar .recent-post .popular-articles article:last-child {
  border-bottom: none;
}

/* line 406, sass/base.scss */
.listing-utazasok .list-wrapper {
  padding: 30px 0;
}

/* line 411, sass/base.scss */
.travels {
  margin: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 419, sass/base.scss */
.travels .travel {
  padding: 20px;
  flex-basis: calc(100%/3);
}
/* line 422, sass/base.scss */
.travels .travel .wrapper {
  background: #ffffff;
  position: relative;
  box-shadow: 0 5px 20px -5px #d2d8dc;
  border-radius: 3px;
}
/* line 428, sass/base.scss */
.travels .travel .wrapper .badges {
  position: absolute;
  top: 10px;
  left: -10px;
}
/* line 433, sass/base.scss */
.travels .travel .wrapper .badges > div {
  position: relative;
  margin: 0 0 10px 0;
  background: #4a4a4a;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px 10px 10px 20px;
  pointer-events: none;
}
/* line 444, sass/base.scss */
.travels .travel .wrapper .badges > div:after {
  position: absolute;
  content: "";
  left: -10px;
  bottom: -10px;
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #4a4a4a transparent transparent;
}
/* line 455, sass/base.scss */
.travels .travel .wrapper .badges > div.discounted {
  background: #0b85d5;
}
/* line 457, sass/base.scss */
.travels .travel .wrapper .badges > div.discounted:after {
  border-color: transparent #0b85d5 transparent transparent;
}
/* line 461, sass/base.scss */
.travels .travel .wrapper .badges > div.highlighted {
  background: #e83939;
}
/* line 463, sass/base.scss */
.travels .travel .wrapper .badges > div.highlighted:after {
  border-color: transparent #e83939 transparent transparent;
}
/* line 470, sass/base.scss */
.travels .travel .wrapper .image {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
/* line 474, sass/base.scss */
.travels .travel .wrapper .image img {
  max-width: 100%;
}
/* line 479, sass/base.scss */
.travels .travel .wrapper .datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}
/* line 487, sass/base.scss */
.travels .travel .wrapper .datas .title {
  flex: 1;
}
/* line 489, sass/base.scss */
.travels .travel .wrapper .datas .title h3 {
  margin: 0;
  line-height: 1.1;
  font-size: 1em;
}
/* line 494, sass/base.scss */
.travels .travel .wrapper .datas .title h3 a {
  line-height: 1.2;
  color: black;
  display: block;
  text-decoration: none;
}
/* line 502, sass/base.scss */
.travels .travel .wrapper .datas .price {
  flex-basis: 100px;
  text-align: right;
  line-height: 1.2;
}
/* line 507, sass/base.scss */
.travels .travel .wrapper .datas .price .old {
  color: #c1c1c1;
  text-decoration: line-through;
}
/* line 512, sass/base.scss */
.travels .travel .wrapper .datas .price .current {
  font-weight: bold;
  color: #0b85d5;
  font-size: 1.1em;
}
/* line 519, sass/base.scss */
.travels .travel .wrapper .datas .position,
.travels .travel .wrapper .datas .duration {
  flex-basis: 100%;
  margin: 10px 0 5px 0;
}
/* line 523, sass/base.scss */
.travels .travel .wrapper .datas .position .svg-inline--fa,
.travels .travel .wrapper .datas .duration .svg-inline--fa {
  width: 20px;
  text-align: center;
  color: #0b85d5;
}
/* line 530, sass/base.scss */
.travels .travel .wrapper .datas .position {
  font-size: 0.9em;
  color: #fbb03b;
}
/* line 533, sass/base.scss */
.travels .travel .wrapper .datas .position .svg-inline--fa {
  color: #f75119;
}

/* line 543, sass/base.scss */
.destination-searcher-holder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: -10px;
}
/* line 552, sass/base.scss */
.destination-searcher-holder .wrapper > div {
  flex-basis: calc(100%/5);
}
/* line 554, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper {
  padding: 10px;
}
/* line 557, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper > label {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0 0 15px 0;
  display: block;
}
/* line 565, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper .input-wrapper {
  background: rgba(126, 168, 195, 0.28);
  border: 1px solid #616f79;
  position: relative;
}
/* line 569, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper .input-wrapper .ico {
  pointer-events: none;
  position: absolute;
  right: 5px;
  color: #adb5bb;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 579, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper .input-wrapper input[type=text] {
  background: transparent;
  border: none;
  padding: 0 25px 0 10px;
  height: 34px;
  line-height: 34px;
}
/* line 589, sass/base.scss */
.destination-searcher-holder .wrapper > div.keywords {
  flex-basis: 40%;
}
/* line 592, sass/base.scss */
.destination-searcher-holder .wrapper > div.location {
  flex-basis: 25%;
}
/* line 596, sass/base.scss */
.destination-searcher-holder .wrapper > div.ellatas, .destination-searcher-holder .wrapper > div.datetime {
  flex-basis: calc(35%/2);
}
/* line 600, sass/base.scss */
.destination-searcher-holder .wrapper > div.durations, .destination-searcher-holder .wrapper > div.utazasmod {
  flex-basis: 20%;
}
/* line 603, sass/base.scss */
.destination-searcher-holder .wrapper > div.szolgaltatasok {
  flex-basis: 40%;
}
/* line 609, sass/base.scss */
.destination-searcher-holder .wrapper .srcbutton button {
  cursor: pointer;
  height: 36px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background: #0b85d5;
  border: none;
}
/* line 625, sass/base.scss */
.destination-searcher-holder.manual-insert {
  background-color: #343434;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
/* line 631, sass/base.scss */
.destination-searcher-holder.manual-insert .wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 25px 0;
}

/* line 639, sass/base.scss */
.multi-selector-holder {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: none;
}
/* line 645, sass/base.scss */
.multi-selector-holder.opened {
  display: block;
}
/* line 649, sass/base.scss */
.multi-selector-holder .selector-wrapper {
  background: rgba(56, 56, 56, 0.9);
  border: 1px solid #5d6b75;
  border-top: 1px dashed #5d6b75;
  margin-top: -1px;
  -webkit-box-shadow: 0 10px 26px -9px black;
  -moz-box-shadow: 0 10px 26px -9px black;
  box-shadow: 0 10px 26px -9px black;
}
/* line 659, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label {
  padding: 5px 5px 5px 35px;
  margin: 0 0 1px 0;
  font-size: 0.8em;
  width: 100%;
  display: block;
  line-height: 17px;
}
/* line 667, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label .n {
  color: #d2d2d2;
  font-size: 0.85em;
}
/* line 671, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:before {
  left: 10px;
}
/* line 676, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:hover,
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox]:checked + label {
  background: rgba(11, 133, 213, 0.9);
  color: white;
}
/* line 680, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:hover:before,
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox]:checked + label:before {
  color: white;
}
/* line 685, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row.lvl-1 label {
  padding-left: 45px !important;
}
/* line 687, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row.lvl-1 label:before {
  left: 20px !important;
}
/* line 693, sass/base.scss */
.multi-selector-holder .selector-wrapper.sel-def {
  margin-top: -2px;
  margin-right: 30px;
}

/* line 701, sass/base.scss */
.tematikus-kategoria-holder.style-boxed {
  height: 320px;
  background: rgba(21, 37, 47, 0.76);
}

/* line 708, sass/base.scss */
.front-home-testimonials .testimonial-content {
  text-align: center;
  color: #c8bdbb;
  font-style: italic;
}
/* line 713, sass/base.scss */
.front-home-testimonials .testimonial-client {
  text-align: center;
}
/* line 715, sass/base.scss */
.front-home-testimonials .testimonial-client .testimonial-name {
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}
/* line 721, sass/base.scss */
.front-home-testimonials .testimonial-client .testimonial-destination {
  color: #0b85d5;
}

/* line 727, sass/base.scss */
.postlist-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* line 734, sass/base.scss */
.postlist-holder .head {
  margin: 0 0 25px 0;
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}
/* line 740, sass/base.scss */
.postlist-holder .head .links {
  float: right;
  font-size: 0.56em;
  font-weight: normal;
  color: #b7b7b7;
  margin: 5px 0 0 0;
}
/* line 747, sass/base.scss */
.postlist-holder .head .links a {
  font-size: 1.1em;
  margin: 0 3px;
}
/* line 753, sass/base.scss */
.postlist-holder .head .svg-inline--fa {
  color: #0b85d5;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
}
/* line 761, sass/base.scss */
.postlist-holder > div.newest-article {
  flex-basis: 60%;
}
/* line 764, sass/base.scss */
.postlist-holder > div.more-articles {
  flex: 1;
}
/* line 767, sass/base.scss */
.postlist-holder > div.more-articles article {
  border-bottom: 1px solid #e4e4e4;
}
/* line 770, sass/base.scss */
.postlist-holder > div.more-articles article:last-child {
  border-bottom: none;
}
/* line 775, sass/base.scss */
.postlist-holder article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
/* line 785, sass/base.scss */
.postlist-holder article .image {
  flex-basis: 90px;
  border-radius: 4px;
  overflow: hidden;
}
/* line 791, sass/base.scss */
.postlist-holder article .data {
  flex: 1;
  font-size: 0.9em;
  padding-left: 10px;
}
/* line 797, sass/base.scss */
.postlist-holder article .data .title a {
  color: black;
  text-decoration: none;
  line-height: 1.2;
  font-weight: bold;
  display: block;
  overflow: hidden;
}
/* line 805, sass/base.scss */
.postlist-holder article .data .title a:hover {
  color: #0b85d5;
}
/* line 811, sass/base.scss */
.postlist-holder article .data .meta {
  font-size: 0.8em !important;
  margin: 10px 0 0 0 !important;
  color: #0b85d5 !important;
  font-weight: bold !important;
}
/* line 817, sass/base.scss */
.postlist-holder article .data .meta .svg-inline--fa {
  color: #acacac !important;
  margin-right: 5px;
}
/* line 824, sass/base.scss */
.postlist-holder article img {
  max-width: 100%;
}
/* line 829, sass/base.scss */
.postlist-holder div.newest-article {
  padding-right: 25px;
}
/* line 831, sass/base.scss */
.postlist-holder div.newest-article article {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
/* line 835, sass/base.scss */
.postlist-holder div.newest-article article .image {
  flex-basis: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 276px;
  position: relative;
  box-shadow: 0 25px 30px -13px #ababab;
}
/* line 844, sass/base.scss */
.postlist-holder div.newest-article article .image img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 853, sass/base.scss */
.postlist-holder div.newest-article article .data {
  padding-left: 0 !important;
}
/* line 855, sass/base.scss */
.postlist-holder div.newest-article article .data .desc {
  margin: 15px 0 5px 0;
  line-height: 1.4;
  font-size: 0.8em;
}
/* line 861, sass/base.scss */
.postlist-holder div.newest-article article .data .title a {
  color: #0b85d5 !important;
  font-size: 1.6em !important;
}

/* line 871, sass/base.scss */
body.archive.post-type-archive-utazas #main {
  background: #e7edf1 !important;
  padding: 0 !important;
}

/* line 878, sass/base.scss */
body.single-post .content-inside {
  color: #323232;
}
/* line 882, sass/base.scss */
body.single-post .author-data {
  border-top: 1px solid #dfdfdf;
  margin: 40px 0;
  padding: 30px 0 0 0;
  text-align: center;
  color: #343434;
}
/* line 889, sass/base.scss */
body.single-post .author-data .author-title {
  color: #b2b2b2;
  font-style: italic;
  margin: 0 0 5px 0;
  font-size: 0.8em;
}
/* line 895, sass/base.scss */
body.single-post .author-data .name {
  color: black;
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
/* line 900, sass/base.scss */
body.single-post .author-data .desc {
  line-height: 1.4;
  color: grey;
  font-size: 0.9em;
}

/* line 908, sass/base.scss */
.comments .commentlist div.avatar {
  border-radius: 55px;
  overflow: hidden;
}
/* line 912, sass/base.scss */
.comments .comment-numbers {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #000000;
  margin: 0 0 30px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 922, sass/base.scss */
.comments .comment-box .comment-text {
  margin: 20px 0 0 69px;
}
/* line 926, sass/base.scss */
.comments .comment-box .comment-author strong {
  color: #323232;
  font-size: 1.45em;
}
/* line 931, sass/base.scss */
.comments .comment-box .comment-author .date {
  font-size: 1.1em;
  margin: 10px 0 0 0;
  color: #9c9c9c;
}
/* line 938, sass/base.scss */
.comments .comment-box .comment-reply-link {
  margin-left: 5px;
  float: right;
  color: #757575;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 946, sass/base.scss */
.comments .comment-box .comment-edit {
  margin: 10px 0 0 69px;
}
/* line 949, sass/base.scss */
.comments .comment-box .comment-edit .svg-inline--fa {
  font-size: 10px;
  margin-right: 5px;
  color: #ec7878;
}
/* line 955, sass/base.scss */
.comments .comment-box .comment-edit-link {
  font-size: 0.65em;
  color: #ec7878;
}

/* line 961, sass/base.scss */
.comment-respond {
  background: #ededed;
  padding: 40px;
}
/* line 964, sass/base.scss */
.comment-respond .comment-form .form-submit {
  text-align: center;
}
/* line 967, sass/base.scss */
.comment-respond .comment-form #comment-submit {
  margin: 0 auto;
  background-color: #0b85d5;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 0.8em;
  letter-spacing: 1px;
}
/* line 975, sass/base.scss */
.comment-respond .logged-in-as {
  text-align: center;
  color: #4c4c4c;
  font-size: 0.85em;
  margin: 0 0 35px 0;
}
/* line 981, sass/base.scss */
.comment-respond .fusion-title .title-sep-container {
  display: none;
}
/* line 984, sass/base.scss */
.comment-respond .fusion-title {
  margin: 0 0 10px 0 !important;
}
/* line 986, sass/base.scss */
.comment-respond .fusion-title h3 {
  flex-basis: 100%;
  padding: 0 !important;
  text-align: center !important;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 998, sass/base.scss */
body.single .fusion-page-title-bar {
  background-position: center;
}

/* line 1001, sass/base.scss */
.single-post-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
/* line 1009, sass/base.scss */
.single-post-caption .date {
  flex-basis: 80px;
  padding: 0 25px 0 0;
  border-right: 1px solid white;
  color: white;
  font-size: 1em;
  text-align: center;
  line-height: 1;
  color: #808080;
}
/* line 1019, sass/base.scss */
.single-post-caption .date .day {
  font-size: 4em;
  font-weight: bold;
  color: white;
}
/* line 1025, sass/base.scss */
.single-post-caption .titledata {
  flex: 1;
  padding: 0 0 0 25px;
}
/* line 1029, sass/base.scss */
.single-post-caption .titledata .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: white !important;
  margin-top: 10px;
}
/* line 1038, sass/base.scss */
.single-post-caption .titledata .meta .svg-inline--fa {
  color: white;
  margin-right: 5px;
}
/* line 1043, sass/base.scss */
.single-post-caption .titledata .meta a {
  color: white;
}
/* line 1046, sass/base.scss */
.single-post-caption .titledata .meta a:hover {
  color: #0b85d5;
}
/* line 1051, sass/base.scss */
.single-post-caption .titledata .meta > div {
  margin-right: 20px;
}

/* line 1060, sass/base.scss */
.contact-form-holder .requester-holder,
.contact-form-holder .btns {
  margin: 0 auto;
}
/* line 1064, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -5px;
}
/* line 1071, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div {
  padding: 5px;
}
/* line 1074, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text],
.contact-form-holder .requester-holder .flxtbl > div textarea {
  color: #4c4c4c;
  width: 100%;
  border: none;
  padding: 25px;
  font-size: 1.1em;
  border: 1px solid transparent;
}
/* line 1082, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]::-webkit-input-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9c9c9c;
}
/* line 1085, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]::-moz-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #9c9c9c;
}
/* line 1088, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]:-ms-input-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #9c9c9c;
}
/* line 1091, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]:-moz-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #9c9c9c;
}
/* line 1094, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text].missing,
.contact-form-holder .requester-holder .flxtbl > div textarea.missing {
  border: 1px solid #ffb5aa;
}
/* line 1100, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > .name, .contact-form-holder .requester-holder .flxtbl > .email {
  flex-basis: 50%;
}
/* line 1104, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > .subject, .contact-form-holder .requester-holder .flxtbl > .uzenet {
  flex-basis: 100%;
}
/* line 1110, sass/base.scss */
.contact-form-holder .btns button {
  background: #0b85d5;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85em;
  padding: 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  -webkit-transition: all .6s;
  transition: all .6s;
}
/* line 1124, sass/base.scss */
.contact-form-holder .btns button.in-progress {
  background: #d5600b;
}
/* line 1127, sass/base.scss */
.contact-form-holder .btns button.sended {
  background: #3ace8b;
}

/* line 1136, sass/base.scss */
footer .contact-info-container p {
  margin-bottom: 8px !important;
}
/* line 1141, sass/base.scss */
footer .fusion-widget-area > div.fusion-column {
  border-right: 1px solid #2e2e2e;
}
/* line 1144, sass/base.scss */
footer .fusion-widget-area > div.fusion-column-last {
  border-right: none;
}
/* line 1148, sass/base.scss */
footer .fusion-copyright-notice {
  font-size: 0.9em !important;
  color: #575757 !important;
}
