/* line 3, sass/base.scss */
input[type=checkbox] {
  display: none;
}

/* line 6, sass/base.scss */
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}
/* line 11, sass/base.scss */
input[type=checkbox] + label:before {
  content: "\f096";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

/* line 24, sass/base.scss */
input[type=checkbox]:checked + label:before {
  content: "\f046";
  color: #000000;
}

/* line 29, sass/base.scss */
input[type=radio] {
  display: none;
}

/* line 32, sass/base.scss */
input[type=radio] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}
/* line 37, sass/base.scss */
input[type=radio] + label:before {
  content: "\f1db";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

/* line 50, sass/base.scss */
input[type=radio]:checked + label:before {
  content: "\f05d";
  color: #000000;
}

/* line 56, sass/base.scss */
input[type=checkbox].fake-radio + label:before {
  background: #ffffff;
  border: 2px solid #eaeaea;
  content: "\f111";
  vertical-align: middle;
  padding: 0;
  margin: 1px 0 0 0;
}

/* line 66, sass/base.scss */
input[type=checkbox].fake-radio:checked + label:before {
  content: "\f192";
  border: none;
  width: 24px;
  height: 24px;
}

/* line 74, sass/base.scss */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 81, sass/base.scss */
.flex > div.flex-w-50 {
  flex-basis: 50%;
}
/* line 85, sass/base.scss */
.flex.spaced {
  margin: 0 -10px;
}
/* line 87, sass/base.scss */
.flex.spaced > div {
  padding: 0 10px;
}
/* line 93, sass/base.scss */
.flex.auto > div {
  flex: 1;
}

/* line 99, sass/base.scss */
.tglwatcher {
  cursor: pointer;
}

/* line 104, sass/base.scss */
.tglwatcher-wrapper,
.select-wrapper {
  position: relative;
  cursor: pointer;
}
/* line 108, sass/base.scss */
.tglwatcher-wrapper:after,
.select-wrapper:after {
  pointer-events: none;
  content: "\f0d7";
  font-family: 'FontAwesome';
  right: 0;
  position: absolute;
  top: 0;
  background: #5f6c77;
  height: 34px;
  width: 20px;
  text-align: center;
  line-height: 34px;
  color: #adb5bb;
}
/* line 124, sass/base.scss */
.tglwatcher-wrapper.tgl-def:after,
.select-wrapper.tgl-def:after {
  height: 40px;
  line-height: 40px;
}

/* FIX AVADAT STYLES */
/* line 133, sass/base.scss */
body.single .fusion-page-title-bar {
  height: 380px;
  box-shadow: inset 0 -180px 200px -40px rgba(0, 0, 0, 0.85);
}
/* line 137, sass/base.scss */
body.single .fusion-page-title-wrapper {
  padding-top: 250px;
}

/* line 141, sass/base.scss */
.fusion-header-v2 .fusion-secondary-header {
  border-top: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

/* line 145, sass/base.scss */
.fusion-main-menu > ul > li > a {
  border-top: none;
  border-bottom: 3px solid transparent;
}

/* line 149, sass/base.scss */
.fusion-modal h1, .fusion-widget-area h1, .post-content h1 {
  font-size: 24px;
}

/* line 152, sass/base.scss */
.page-width {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 161, sass/base.scss */
.fusion-main-menu .current-menu-ancestor > a,
.fusion-main-menu .current-menu-item > a,
.fusion-main-menu .current-menu-parent > a,
.fusion-main-menu .current_page_item > a,
.fusion-main-menu > ul > li > a:hover {
  border-top: none;
  border-bottom: 3px solid #fbb03b;
}

/* line 165, sass/base.scss */
.fusion-page-title-wrapper {
  padding-top: 115px;
}

/* line 168, sass/base.scss */
.fusion-page-title-bar {
  background-size: inherit !important;
}

/* line 171, sass/base.scss */
.fusion-header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}

/* line 177, sass/base.scss */
.fusion-separator.short-sep {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

/* line 182, sass/base.scss */
.fusion-page-title-bar {
  background-color: #262626;
}

/* line 185, sass/base.scss */
.fusion-contact-info {
  font-size: 1.1em;
}
/* line 187, sass/base.scss */
.fusion-contact-info svg.svg-inline--fa {
  margin-right: 5px;
  vertical-align: middle;
}

/* line 192, sass/base.scss */
.avada-skin-rev {
  border: none !important;
}

/* line 195, sass/base.scss */
.ui-widget-content {
  background: rgba(56, 56, 56, 0.9);
  color: #c7c7c7;
}

/* line 199, sass/base.scss */
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div {
  border-color: #5d6b75;
}

/* line 202, sass/base.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  text-align: center;
  background: rgba(0, 0, 0, 0.58);
  border: 1px solid rgba(132, 132, 132, 0.8);
  color: #d8d8d8;
}

/* line 208, sass/base.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  text-align: center;
  background: #0b85d5;
  color: white;
}

/* line 213, sass/base.scss */
.ui-widget-header {
  border: 1px solid #6a7580;
  background: #727d86;
  color: #32c5ff;
  font-weight: bold;
}

/* line 219, sass/base.scss */
.autocomplete-suggestions {
  background: rgba(56, 56, 56, 0.9);
  border: 1px solid #5d6b75;
  border-top: 1px dashed #5d6b75;
}
/* line 224, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion {
  padding: 4px;
  font-size: 0.9em;
}
/* line 228, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion strong {
  color: #5eb4ec;
}
/* line 232, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
  background: rgba(11, 133, 213, 0.9);
  color: #b7dcf5;
}
/* line 235, sass/base.scss */
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected strong {
  color: white;
}

/* line 241, sass/base.scss */
.hasDatepicker {
  cursor: pointer;
}

/* line 244, sass/base.scss */
.ui-datepicker th {
  font-family: 'Poppins', arial;
  color: #868686;
  font-weight: 300;
}

/* line 251, sass/base.scss */
.articles article {
  background: #ffffff;
  margin-bottom: 25px;
}
/* line 255, sass/base.scss */
.articles article .image {
  min-height: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
/* line 260, sass/base.scss */
.articles article .image img {
  width: auto;
  max-width: initial;
  height: 110%;
  max-height: 110%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 273, sass/base.scss */
.articles article .datas {
  padding: 40px 35px 45px 35px;
}
/* line 276, sass/base.scss */
.articles article .datas .metas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  color: #cacaca;
  font-size: 0.95em;
}
/* line 286, sass/base.scss */
.articles article .datas .metas > div {
  padding-right: 20px;
}
/* line 289, sass/base.scss */
.articles article .datas .metas > div .svg-inline--fa {
  margin-right: 5px;
}
/* line 293, sass/base.scss */
.articles article .datas .metas > div strong {
  color: #0b85d5;
}
/* line 299, sass/base.scss */
.articles article .datas .desc {
  margin: 0 0 25px 0;
}
/* line 305, sass/base.scss */
.articles article .datas .title h2 a {
  font-size: 1.5em;
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  line-height: 1.2;
}
/* line 315, sass/base.scss */
.articles article a.read-more {
  background: #0b85d5;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 35px;
  font-size: 0.9em;
  display: block;
  float: left;
}
/* line 325, sass/base.scss */
.articles article a.read-more:hover {
  background: #0867a5;
}
/* line 330, sass/base.scss */
.articles article.format-quote {
  background: #0b85d5;
  color: white;
}
/* line 334, sass/base.scss */
.articles article.format-quote .datas {
  padding: 40px;
}
/* line 338, sass/base.scss */
.articles article.format-quote .desc {
  margin: 0;
  position: relative;
}
/* line 342, sass/base.scss */
.articles article.format-quote .desc .quote-left,
.articles article.format-quote .desc .quote-right {
  position: absolute;
  font-size: 32px;
}
/* line 346, sass/base.scss */
.articles article.format-quote .desc .quote-left {
  left: 0;
  top: 0;
}
/* line 350, sass/base.scss */
.articles article.format-quote .desc .quote-right {
  right: 0;
  bottom: 10px;
}
/* line 355, sass/base.scss */
.articles article.format-quote .desc a {
  display: block;
  padding: 0 45px;
}
/* line 359, sass/base.scss */
.articles article.format-quote .desc .by {
  text-align: right;
  font-size: 0.8em;
  margin-top: 10px;
}
/* line 366, sass/base.scss */
.articles article.format-quote a {
  color: white;
  text-decoration: none;
}
/* line 372, sass/base.scss */
.articles .cat-header {
  margin: 0 0 25px 0;
}
/* line 374, sass/base.scss */
.articles .cat-header h1 {
  font-size: 2em;
  color: black;
  margin: 0 0 5px 0;
}
/* line 379, sass/base.scss */
.articles .cat-header .count-post {
  text-align: center;
  margin: 0 0 15px 0;
  color: #7c7c7c;
}

/* line 388, sass/base.scss */
.sidebar .sidebar-group {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 15px;
}
/* line 393, sass/base.scss */
.sidebar .sidebar-group h3 {
  color: black;
  margin: 0 0 15px 0;
}
/* line 399, sass/base.scss */
.sidebar.article-sidebar h3 {
  color: black;
  margin: 0 0 15px 0;
}
/* line 404, sass/base.scss */
.sidebar.article-sidebar .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -5px;
}
/* line 412, sass/base.scss */
.sidebar.article-sidebar .tags .tag {
  padding: 5px;
}
/* line 414, sass/base.scss */
.sidebar.article-sidebar .tags .tag a {
  background: #ffffff;
  display: block;
  color: #4c4c4c;
  font-size: 0.8em;
  padding: 10px;
  line-height: 1;
  text-transform: capitalize;
  border: 1px solid #eaeaea;
}
/* line 427, sass/base.scss */
.sidebar .recent-post {
  margin-bottom: 25px;
}
/* line 430, sass/base.scss */
.sidebar .recent-post .popular-articles article {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
/* line 433, sass/base.scss */
.sidebar .recent-post .popular-articles article h4 {
  margin: 0 0 5px 0;
  line-height: 1.2;
}
/* line 436, sass/base.scss */
.sidebar .recent-post .popular-articles article h4 a {
  color: #0b85d5;
  text-decoration: none;
}
/* line 441, sass/base.scss */
.sidebar .recent-post .popular-articles article .data {
  color: #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.65em;
  justify-content: space-between;
}
/* line 452, sass/base.scss */
.sidebar .recent-post .popular-articles article .data .cats a {
  color: black;
}
/* line 457, sass/base.scss */
.sidebar .recent-post .popular-articles article:last-child {
  border-bottom: none;
}

/* line 466, sass/base.scss */
.listing-utazasok .list-wrapper {
  padding: 30px 0;
}

/* line 471, sass/base.scss */
.travels {
  margin: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 479, sass/base.scss */
.travels .travel {
  padding: 20px;
  flex-basis: calc(100%/3);
}
/* line 482, sass/base.scss */
.travels .travel .wrapper {
  background: #ffffff;
  position: relative;
  box-shadow: 0 5px 20px -5px #d2d8dc;
  border-radius: 3px;
}
/* line 488, sass/base.scss */
.travels .travel .wrapper .badges {
  position: absolute;
  top: 10px;
  left: -10px;
  pointer-events: none;
}
/* line 494, sass/base.scss */
.travels .travel .wrapper .badges > div {
  position: relative;
  margin: 0 0 10px 0;
  background: #4a4a4a;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px 10px 10px 20px;
  pointer-events: none;
}
/* line 505, sass/base.scss */
.travels .travel .wrapper .badges > div:after {
  position: absolute;
  content: "";
  left: -10px;
  bottom: -10px;
  background: transparent;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #4a4a4a transparent transparent;
}
/* line 516, sass/base.scss */
.travels .travel .wrapper .badges > div.discounted {
  background: #0b85d5;
}
/* line 518, sass/base.scss */
.travels .travel .wrapper .badges > div.discounted:after {
  border-color: transparent #0b85d5 transparent transparent;
}
/* line 522, sass/base.scss */
.travels .travel .wrapper .badges > div.highlighted {
  background: #e83939;
}
/* line 524, sass/base.scss */
.travels .travel .wrapper .badges > div.highlighted:after {
  border-color: transparent #e83939 transparent transparent;
}
/* line 531, sass/base.scss */
.travels .travel .wrapper .image {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
/* line 535, sass/base.scss */
.travels .travel .wrapper .image img {
  max-width: 100%;
}
/* line 540, sass/base.scss */
.travels .travel .wrapper .datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}
/* line 548, sass/base.scss */
.travels .travel .wrapper .datas .title {
  flex: 1;
}
/* line 550, sass/base.scss */
.travels .travel .wrapper .datas .title h3 {
  margin: 0;
  line-height: 1.1;
  font-size: 1em;
}
/* line 555, sass/base.scss */
.travels .travel .wrapper .datas .title h3 a {
  line-height: 1.2;
  color: black;
  display: block;
  text-decoration: none;
}
/* line 563, sass/base.scss */
.travels .travel .wrapper .datas .price {
  flex-basis: 100px;
  text-align: right;
  line-height: 1.2;
}
/* line 568, sass/base.scss */
.travels .travel .wrapper .datas .price .old {
  color: #c1c1c1;
  text-decoration: line-through;
}
/* line 573, sass/base.scss */
.travels .travel .wrapper .datas .price .current {
  font-weight: bold;
  color: #0b85d5;
  font-size: 1.1em;
}
/* line 580, sass/base.scss */
.travels .travel .wrapper .datas .position,
.travels .travel .wrapper .datas .duration {
  flex-basis: 100%;
  margin: 10px 0 5px 0;
}
/* line 584, sass/base.scss */
.travels .travel .wrapper .datas .position .svg-inline--fa,
.travels .travel .wrapper .datas .duration .svg-inline--fa {
  width: 20px;
  text-align: center;
  color: #0b85d5;
}
/* line 591, sass/base.scss */
.travels .travel .wrapper .datas .position {
  font-size: 0.9em;
  color: #fbb03b;
}
/* line 594, sass/base.scss */
.travels .travel .wrapper .datas .position .svg-inline--fa {
  color: #f75119;
}

/* line 604, sass/base.scss */
.destination-searcher-holder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: -10px;
}
/* line 613, sass/base.scss */
.destination-searcher-holder .wrapper > div {
  flex-basis: calc(100%/5);
}
/* line 615, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper {
  padding: 10px;
}
/* line 618, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper > label {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0 0 15px 0;
  display: block;
}
/* line 626, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper .input-wrapper {
  background: rgba(126, 168, 195, 0.28);
  border: 1px solid #616f79;
  position: relative;
}
/* line 630, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper .input-wrapper .ico {
  pointer-events: none;
  position: absolute;
  right: 5px;
  color: #adb5bb;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 640, sass/base.scss */
.destination-searcher-holder .wrapper > div .iwrapper .input-wrapper input[type=text] {
  background: transparent;
  border: none;
  padding: 0 25px 0 10px;
  height: 34px;
  line-height: 34px;
}
/* line 650, sass/base.scss */
.destination-searcher-holder .wrapper > div.keywords {
  flex-basis: 40%;
}
/* line 653, sass/base.scss */
.destination-searcher-holder .wrapper > div.location {
  flex-basis: 25%;
}
/* line 657, sass/base.scss */
.destination-searcher-holder .wrapper > div.ellatas, .destination-searcher-holder .wrapper > div.datetime {
  flex-basis: calc(35%/2);
}
/* line 661, sass/base.scss */
.destination-searcher-holder .wrapper > div.durations, .destination-searcher-holder .wrapper > div.utazasmod {
  flex-basis: 20%;
}
/* line 664, sass/base.scss */
.destination-searcher-holder .wrapper > div.szolgaltatasok {
  flex-basis: 40%;
}
/* line 670, sass/base.scss */
.destination-searcher-holder .wrapper .srcbutton button {
  cursor: pointer;
  height: 36px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background: #0b85d5;
  border: none;
}
/* line 686, sass/base.scss */
.destination-searcher-holder.manual-insert {
  background-color: #343434;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
/* line 692, sass/base.scss */
.destination-searcher-holder.manual-insert .wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 25px 0;
}

/* line 700, sass/base.scss */
.multi-selector-holder {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: none;
}
/* line 706, sass/base.scss */
.multi-selector-holder.opened {
  display: block;
}
/* line 710, sass/base.scss */
.multi-selector-holder .selector-wrapper {
  background: rgba(56, 56, 56, 0.9);
  border: 1px solid #5d6b75;
  border-top: 1px dashed #5d6b75;
  margin-top: -1px;
  -webkit-box-shadow: 0 10px 26px -9px black;
  -moz-box-shadow: 0 10px 26px -9px black;
  box-shadow: 0 10px 26px -9px black;
}
/* line 720, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label {
  padding: 5px 5px 5px 35px;
  margin: 0 0 1px 0;
  font-size: 0.8em;
  width: 100%;
  display: block;
  line-height: 17px;
}
/* line 728, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label .n {
  color: #d2d2d2;
  font-size: 0.85em;
}
/* line 732, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:before {
  left: 10px;
}
/* line 737, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:hover,
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox]:checked + label {
  background: rgba(11, 133, 213, 0.9);
  color: white;
}
/* line 741, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:hover:before,
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox]:checked + label:before {
  color: white;
}
/* line 746, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row.lvl-1 label {
  padding-left: 45px !important;
}
/* line 748, sass/base.scss */
.multi-selector-holder .selector-wrapper .selector-row.lvl-1 label:before {
  left: 20px !important;
}
/* line 754, sass/base.scss */
.multi-selector-holder .selector-wrapper.sel-def {
  margin-top: -2px;
  margin-right: 30px;
}

/* line 762, sass/base.scss */
.tematikus-kategoria-holder.style-boxed {
  height: 320px;
  background: rgba(21, 37, 47, 0.77);
}

/* line 769, sass/base.scss */
.front-home-testimonials .testimonial-content {
  text-align: center;
  color: #c8bdbb;
  font-style: italic;
}
/* line 774, sass/base.scss */
.front-home-testimonials .testimonial-client {
  text-align: center;
}
/* line 776, sass/base.scss */
.front-home-testimonials .testimonial-client .testimonial-name {
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}
/* line 782, sass/base.scss */
.front-home-testimonials .testimonial-client .testimonial-destination {
  color: #0b85d5;
}

/* line 788, sass/base.scss */
.postlist-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* line 795, sass/base.scss */
.postlist-holder .head {
  margin: 0 0 25px 0;
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}
/* line 801, sass/base.scss */
.postlist-holder .head .links {
  float: right;
  font-size: 0.56em;
  font-weight: normal;
  color: #b7b7b7;
  margin: 5px 0 0 0;
}
/* line 808, sass/base.scss */
.postlist-holder .head .links a {
  font-size: 1.1em;
  margin: 0 3px;
}
/* line 814, sass/base.scss */
.postlist-holder .head .svg-inline--fa {
  color: #0b85d5;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
}
/* line 822, sass/base.scss */
.postlist-holder > div.newest-article {
  flex-basis: 60%;
}
/* line 825, sass/base.scss */
.postlist-holder > div.more-articles {
  flex: 1;
}
/* line 828, sass/base.scss */
.postlist-holder > div.more-articles article {
  border-bottom: 1px solid #e4e4e4;
}
/* line 831, sass/base.scss */
.postlist-holder > div.more-articles article:last-child {
  border-bottom: none;
}
/* line 836, sass/base.scss */
.postlist-holder article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
/* line 846, sass/base.scss */
.postlist-holder article .image {
  flex-basis: 90px;
  border-radius: 4px;
  overflow: hidden;
}
/* line 852, sass/base.scss */
.postlist-holder article .data {
  flex: 1;
  font-size: 0.9em;
  padding-left: 10px;
}
/* line 858, sass/base.scss */
.postlist-holder article .data .title a {
  color: black;
  text-decoration: none;
  line-height: 1.2;
  font-weight: bold;
  display: block;
  overflow: hidden;
}
/* line 866, sass/base.scss */
.postlist-holder article .data .title a:hover {
  color: #0b85d5;
}
/* line 872, sass/base.scss */
.postlist-holder article .data .meta {
  font-size: 0.8em !important;
  margin: 10px 0 0 0 !important;
  color: #0b85d5 !important;
  font-weight: bold !important;
}
/* line 878, sass/base.scss */
.postlist-holder article .data .meta .svg-inline--fa {
  color: #acacac !important;
  margin-right: 5px;
}
/* line 885, sass/base.scss */
.postlist-holder article img {
  max-width: 100%;
}
/* line 890, sass/base.scss */
.postlist-holder div.newest-article {
  padding-right: 25px;
}
/* line 892, sass/base.scss */
.postlist-holder div.newest-article article {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
/* line 896, sass/base.scss */
.postlist-holder div.newest-article article .image {
  flex-basis: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 276px;
  position: relative;
  box-shadow: 0 25px 30px -13px #ababab;
}
/* line 905, sass/base.scss */
.postlist-holder div.newest-article article .image img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 914, sass/base.scss */
.postlist-holder div.newest-article article .data {
  padding-left: 0 !important;
}
/* line 916, sass/base.scss */
.postlist-holder div.newest-article article .data .desc {
  margin: 15px 0 5px 0;
  line-height: 1.4;
  font-size: 0.8em;
}
/* line 922, sass/base.scss */
.postlist-holder div.newest-article article .data .title a {
  color: #0b85d5 !important;
  font-size: 1.6em !important;
}

/* line 932, sass/base.scss */
body.archive.post-type-archive-utazas #main {
  background: #e7edf1 !important;
  padding: 0 !important;
}

/* line 939, sass/base.scss */
body.single-post .content-inside {
  color: #323232;
}
/* line 943, sass/base.scss */
body.single-post .author-data {
  border-top: 1px solid #dfdfdf;
  margin: 40px 0;
  padding: 30px 0 0 0;
  text-align: center;
  color: #343434;
}
/* line 950, sass/base.scss */
body.single-post .author-data .author-title {
  color: #b2b2b2;
  font-style: italic;
  margin: 0 0 5px 0;
  font-size: 0.8em;
}
/* line 956, sass/base.scss */
body.single-post .author-data .name {
  color: black;
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
/* line 961, sass/base.scss */
body.single-post .author-data .desc {
  line-height: 1.4;
  color: grey;
  font-size: 0.9em;
}

/* line 970, sass/base.scss */
body.single-utazas #wrapper {
  background: white;
}
/* line 973, sass/base.scss */
body.single-utazas #main {
  padding: 0 !important;
}
/* line 977, sass/base.scss */
body.single-utazas #primary.content-area #content {
  float: none;
  width: 100%;
}
/* line 984, sass/base.scss */
body.single-utazas .fusion-page-title-bar .meta {
  font-size: 1.1em;
}
/* line 986, sass/base.scss */
body.single-utazas .fusion-page-title-bar .meta .kiemelt {
  background: #e83939;
  font-size: 0.65em;
  padding: 4px 6px;
}
/* line 991, sass/base.scss */
body.single-utazas .fusion-page-title-bar .meta .positions {
  color: #fbb03b;
}
/* line 997, sass/base.scss */
body.single-utazas .travel-main-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -25px;
}
/* line 1005, sass/base.scss */
body.single-utazas .travel-main-params > div {
  flex-basis: 50%;
  padding: 5px 25px;
  font-size: 1.13em;
  color: #2c2c2c;
}
/* line 1011, sass/base.scss */
body.single-utazas .travel-main-params > div .svg-inline--fa {
  width: 25px;
  text-align: center;
  color: #0b85d5;
}

/* line 1022, sass/base.scss */
.travel-base-wrapper .fake-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
}
/* line 1028, sass/base.scss */
.travel-base-wrapper .fake-wrapper .fake-inside {
  flex-basis: calc(100% - 350px);
  padding-right: 25px;
}
/* line 1034, sass/base.scss */
.travel-base-wrapper .travel-header {
  background: #eaeaea;
  padding: 30px 0;
}
/* line 1038, sass/base.scss */
.travel-base-wrapper .travel-nav {
  background: #e0e0e0;
  padding: 0;
  position: relative;
  z-index: 10;
}
/* line 1044, sass/base.scss */
.travel-base-wrapper .travel-nav ul, .travel-base-wrapper .travel-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1051, sass/base.scss */
.travel-base-wrapper .travel-nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 1056, sass/base.scss */
.travel-base-wrapper .travel-nav ul li a {
  display: block;
  font-weight: bold;
  color: #b3b3b3;
  padding: 25px 20px;
  font-size: 0.9em;
  border-bottom: 3px solid transparent;
}
/* line 1066, sass/base.scss */
.travel-base-wrapper .travel-nav ul li.active a {
  border-bottom: 3px solid #0b85d5;
  color: #313131;
}
/* line 1074, sass/base.scss */
.travel-base-wrapper .base-content-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1100px;
  margin: 0 auto;
  padding: 35px 0;
}
/* line 1085, sass/base.scss */
.travel-base-wrapper .base-content-holder h2 .svg-inline--fa {
  color: #0b85d5;
}
/* line 1090, sass/base.scss */
.travel-base-wrapper .base-content-holder .travel-contents {
  flex: 1;
  padding: 0 25px 0 0;
}
/* line 1094, sass/base.scss */
.travel-base-wrapper .base-content-holder .travel-contents a.gotop {
  text-align: right;
  color: #c5c5c5;
  font-size: 0.7em;
  letter-spacing: -0.5px;
  margin: 5px 0;
  display: block;
}
/* line 1104, sass/base.scss */
.travel-base-wrapper .base-content-holder .sidebar {
  flex-basis: 350px;
}
/* line 1107, sass/base.scss */
.travel-base-wrapper .base-content-holder .sidebar .sidebar-fix-holder {
  background: #f7f7f7;
  position: relative;
  top: 0;
  z-index: 20;
}
/* line 1116, sass/base.scss */
.travel-base-wrapper.fixedelements .travel-nav {
  z-index: 10;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  box-shadow: 0 5px 10px -2px rgba(187, 187, 187, 0.88);
}
/* line 1124, sass/base.scss */
.travel-base-wrapper.fixedelements .base-content-holder {
  padding-top: 115px;
}

/* line 1130, sass/base.scss */
.gettraveloffer {
  background: #eaeaea;
}
/* line 1132, sass/base.scss */
.gettraveloffer > .header {
  background: #0b85d5;
  padding: 20px;
  text-align: center;
}
/* line 1137, sass/base.scss */
.gettraveloffer > .header h2 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0;
  line-height: 1;
}
/* line 1147, sass/base.scss */
.gettraveloffer .calc-loader {
  text-align: center;
  padding: 40px;
  font-size: 1.4em;
}
/* line 1152, sass/base.scss */
.gettraveloffer .calc-loader .svg-inline--fa {
  font-size: 48px;
  color: #fbb03b;
}
/* line 1158, sass/base.scss */
.gettraveloffer > .wrapper {
  padding: 25px 0;
  color: #202020;
}
/* line 1163, sass/base.scss */
.gettraveloffer .offer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 5px 0;
  position: relative;
}
/* line 1172, sass/base.scss */
.gettraveloffer .offer-group > div.progline {
  flex-basis: 5px;
  height: 1px;
}
/* line 1176, sass/base.scss */
.gettraveloffer .offer-group > div.progline:after {
  content: "";
  width: 5px;
  position: absolute;
  top: 45px;
  bottom: 0%;
  left: 22px;
  background: #6e6e6e;
  display: none;
}
/* line 1188, sass/base.scss */
.gettraveloffer .offer-group > div.header {
  flex-basis: calc(35% - 5px);
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
/* line 1197, sass/base.scss */
.gettraveloffer .offer-group > div.header .n {
  flex-basis: 40px;
}
/* line 1200, sass/base.scss */
.gettraveloffer .offer-group > div.header .n .c {
  width: 40px;
  height: 40px;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  background: black;
  border-radius: 40px;
}
/* line 1213, sass/base.scss */
.gettraveloffer .offer-group > div.header .title {
  flex: 1;
  padding-left: 20px;
  color: #4c4c4c;
  font-size: 0.7em;
}
/* line 1218, sass/base.scss */
.gettraveloffer .offer-group > div.header .title h3 {
  margin: 0 0 15px 0;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 1228, sass/base.scss */
.gettraveloffer .offer-group > div.cholder {
  flex: 1;
  font-size: 0.9em;
}
/* line 1232, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper {
  background: white;
  padding: 0;
  position: relative;
}
/* line 1237, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder {
  position: absolute;
  background: rgba(58, 204, 104, 0.94);
  color: white;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  font-size: 1.1em;
  z-index: 10;
  width: 100%;
}
/* line 1251, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder > .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1265, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder > .holder .header {
  flex-basis: 60px;
  color: white !important;
  font-size: 0.9em;
  text-align: center;
}
/* line 1271, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder > .holder .header .svg-inline--fa {
  display: block;
  font-size: 50px;
  margin: 0 auto;
}
/* line 1278, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder > .holder .v {
  flex: 1;
  font-size: 1.3em;
  text-align: left;
  padding: 0 0 0 15px;
}
/* line 1285, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder > .holder .be {
  flex-basis: 80px;
  text-align: center;
}
/* line 1288, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .selected-item-holder > .holder .be button {
  border: none;
  background: #313131;
  color: white;
  text-transform: uppercase;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0 auto;
}
/* line 1302, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper > .step-loader {
  background: #15b2e8;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.3em;
}
/* line 1310, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table {
  width: 100%;
}
/* line 1313, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table thead tr th {
  background: #0b85d5;
  color: white;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: center;
}
/* line 1325, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table tbody tr td {
  padding: 10px;
  text-align: center;
  border-bottom: 0.5px solid #dddddd;
}
/* line 1330, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table tbody tr td.tetel {
  text-align: left;
  position: relative;
}
/* line 1333, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table tbody tr td.tetel .label {
  background: #8f8f8f;
  color: white;
  padding: 2px 5px;
  line-height: 1;
  font-size: 0.7em;
  border-radius: 7px;
}
/* line 1341, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table tbody tr td.tetel .label.info {
  float: right;
  background: #fbb03b;
  cursor: help;
}
/* line 1347, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table tbody tr td.tetel.opcio {
  font-size: 0.9em;
  padding-left: 30px;
  box-shadow: inset 20px 0 0 #f1f1f1;
}
/* line 1353, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .wrapper table tbody tr td.price-group {
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 8px;
  background: #f5f5f5;
}
/* line 1364, sass/base.scss */
.gettraveloffer .offer-group > div.cholder > .next button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: right;
  border: none;
  background: #222222;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 1381, sass/base.scss */
.gettraveloffer .offer-group.done > div.header .n .c {
  background: #3ace8b;
}
/* line 1386, sass/base.scss */
.gettraveloffer .offer-group.done > div.cholder {
  padding: 5px;
}
/* line 1391, sass/base.scss */
.gettraveloffer .offer-group.done > div.progline:after {
  display: block;
}
/* line 1400, sass/base.scss */
.gettraveloffer .offer-group.overview > div.header .n .c {
  background: #0b85d5;
}
/* line 1409, sass/base.scss */
.gettraveloffer .offer-group.last-item > div.progline:after {
  display: none;
}
/* line 1415, sass/base.scss */
.gettraveloffer .offer-group.last-item > div.header .n .c {
  background: #fbb03b;
}
/* line 1422, sass/base.scss */
.gettraveloffer .offer-group div.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
/* line 1429, sass/base.scss */
.gettraveloffer .offer-group div.form > div {
  flex: 1;
}
/* line 1432, sass/base.scss */
.gettraveloffer .offer-group div.form > div label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}
/* line 1438, sass/base.scss */
.gettraveloffer .offer-group div.form > div .w {
  padding: 15px;
}
/* line 1442, sass/base.scss */
.gettraveloffer .offer-group div.form > div input {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
}
/* line 1453, sass/base.scss */
.gettraveloffer .offer-group.passengers .wrapper {
  padding: 15px !important;
}
/* line 1457, sass/base.scss */
.gettraveloffer .offer-group.passengers .wrapper .form label {
  text-align: center;
}
/* line 1460, sass/base.scss */
.gettraveloffer .offer-group.passengers .wrapper .form input[type=number] {
  color: #0b85d5;
  font-size: 1.6em;
  font-weight: bold;
}
/* line 1467, sass/base.scss */
.gettraveloffer .offer-group.passengers .wrapper > .header {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-size: 1.4em;
  margin: 0 0 15px 0;
}

/* line 1481, sass/base.scss */
body.admin-bar .travel-base-wrapper.fixedelements .travel-nav {
  top: 97px;
}

/* line 1486, sass/base.scss */
.utazas-sidebar {
  color: #545454;
  font-size: 0.9em;
}
/* line 1490, sass/base.scss */
.utazas-sidebar .swrapper {
  padding: 0;
  height: 100%;
  position: relative;
}
/* line 1496, sass/base.scss */
.utazas-sidebar .discount {
  background: rgba(213, 25, 25, 0.9);
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0;
  line-height: 3;
}
/* line 1505, sass/base.scss */
.utazas-sidebar .sidebar-header {
  color: white;
  background: rgba(11, 133, 213, 0.9);
}
/* line 1509, sass/base.scss */
.utazas-sidebar .sidebar-header .price {
  text-align: center;
  font-size: 1.2em;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 1519, sass/base.scss */
.utazas-sidebar .sidebar-header .price .c {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
/* line 1525, sass/base.scss */
.utazas-sidebar .sidebar-header .price .f {
  font-size: 0.6em;
  color: #d2d7db;
}
/* line 1530, sass/base.scss */
.utazas-sidebar .sidebar-header .price .current {
  font-weight: bold;
  font-size: 1.5em;
}
/* line 1534, sass/base.scss */
.utazas-sidebar .sidebar-header .price .old {
  margin-right: 10px;
  font-size: 0.9em;
  color: #a8cce4;
  text-decoration: line-through;
}
/* line 1543, sass/base.scss */
.utazas-sidebar .getoffer a {
  display: block;
  background: #064874;
  color: white;
  height: 73px;
  text-align: center;
  line-height: 73px;
  font-weight: bold;
  font-size: 1.4em;
}
/* line 1554, sass/base.scss */
.utazas-sidebar .sidebar-content {
  background: rgba(255, 255, 255, 0.91);
}

/* line 1560, sass/base.scss */
.comments .commentlist div.avatar {
  border-radius: 55px;
  overflow: hidden;
}
/* line 1564, sass/base.scss */
.comments .comment-numbers {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #000000;
  margin: 0 0 30px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 1574, sass/base.scss */
.comments .comment-box .comment-text {
  margin: 20px 0 0 69px;
}
/* line 1578, sass/base.scss */
.comments .comment-box .comment-author strong {
  color: #323232;
  font-size: 1.45em;
}
/* line 1583, sass/base.scss */
.comments .comment-box .comment-author .date {
  font-size: 1.1em;
  margin: 10px 0 0 0;
  color: #9c9c9c;
}
/* line 1590, sass/base.scss */
.comments .comment-box .comment-reply-link {
  margin-left: 5px;
  float: right;
  color: #757575;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 1598, sass/base.scss */
.comments .comment-box .comment-edit {
  margin: 10px 0 0 69px;
}
/* line 1601, sass/base.scss */
.comments .comment-box .comment-edit .svg-inline--fa {
  font-size: 10px;
  margin-right: 5px;
  color: #ec7878;
}
/* line 1607, sass/base.scss */
.comments .comment-box .comment-edit-link {
  font-size: 0.65em;
  color: #ec7878;
}

/* line 1613, sass/base.scss */
.comment-respond {
  background: #ededed;
  padding: 40px;
}
/* line 1616, sass/base.scss */
.comment-respond .comment-form .form-submit {
  text-align: center;
}
/* line 1619, sass/base.scss */
.comment-respond .comment-form #comment-submit {
  margin: 0 auto;
  background-color: #0b85d5;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 0.8em;
  letter-spacing: 1px;
}
/* line 1627, sass/base.scss */
.comment-respond .logged-in-as {
  text-align: center;
  color: #4c4c4c;
  font-size: 0.85em;
  margin: 0 0 35px 0;
}
/* line 1633, sass/base.scss */
.comment-respond .fusion-title .title-sep-container {
  display: none;
}
/* line 1636, sass/base.scss */
.comment-respond .fusion-title {
  margin: 0 0 10px 0 !important;
}
/* line 1638, sass/base.scss */
.comment-respond .fusion-title h3 {
  flex-basis: 100%;
  padding: 0 !important;
  text-align: center !important;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 1650, sass/base.scss */
body.single .fusion-page-title-bar {
  background-position: center;
}

/* line 1653, sass/base.scss */
.single-post-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
/* line 1661, sass/base.scss */
.single-post-caption .date {
  flex-basis: 80px;
  padding: 0 25px 0 0;
  border-right: 1px solid white;
  color: white;
  font-size: 1em;
  text-align: center;
  line-height: 1;
  color: #808080;
}
/* line 1671, sass/base.scss */
.single-post-caption .date .day {
  font-size: 4em;
  font-weight: bold;
  color: white;
}
/* line 1677, sass/base.scss */
.single-post-caption .titledata {
  flex: 1;
  padding: 0 0 0 25px;
}
/* line 1681, sass/base.scss */
.single-post-caption .titledata .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: white !important;
  margin-top: 10px;
}
/* line 1690, sass/base.scss */
.single-post-caption .titledata .meta .svg-inline--fa {
  color: white;
  margin-right: 5px;
}
/* line 1695, sass/base.scss */
.single-post-caption .titledata .meta a {
  color: white;
}
/* line 1698, sass/base.scss */
.single-post-caption .titledata .meta a:hover {
  color: #0b85d5;
}
/* line 1703, sass/base.scss */
.single-post-caption .titledata .meta > div {
  margin-right: 20px;
}

/* line 1712, sass/base.scss */
.contact-form-holder .requester-holder,
.contact-form-holder .btns {
  margin: 0 auto;
}
/* line 1716, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -5px;
}
/* line 1723, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div {
  padding: 5px;
}
/* line 1726, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text],
.contact-form-holder .requester-holder .flxtbl > div textarea {
  color: #4c4c4c;
  width: 100%;
  border: none;
  padding: 25px;
  font-size: 1.1em;
  border: 1px solid transparent;
}
/* line 1734, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]::-webkit-input-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9c9c9c;
}
/* line 1737, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]::-moz-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #9c9c9c;
}
/* line 1740, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]:-ms-input-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #9c9c9c;
}
/* line 1743, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text]:-moz-placeholder,
.contact-form-holder .requester-holder .flxtbl > div textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #9c9c9c;
}
/* line 1746, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > div input[type=text].missing,
.contact-form-holder .requester-holder .flxtbl > div textarea.missing {
  border: 1px solid #ffb5aa;
}
/* line 1752, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > .name, .contact-form-holder .requester-holder .flxtbl > .email {
  flex-basis: 50%;
}
/* line 1756, sass/base.scss */
.contact-form-holder .requester-holder .flxtbl > .subject, .contact-form-holder .requester-holder .flxtbl > .uzenet {
  flex-basis: 100%;
}
/* line 1762, sass/base.scss */
.contact-form-holder .btns button {
  background: #0b85d5;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85em;
  padding: 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  -webkit-transition: all .6s;
  transition: all .6s;
}
/* line 1776, sass/base.scss */
.contact-form-holder .btns button.in-progress {
  background: #d5600b;
}
/* line 1779, sass/base.scss */
.contact-form-holder .btns button.sended {
  background: #3ace8b;
}

/* line 1788, sass/base.scss */
footer .contact-info-container p {
  margin-bottom: 8px !important;
}
/* line 1793, sass/base.scss */
footer .fusion-widget-area > div.fusion-column {
  border-right: 1px solid #2e2e2e;
}
/* line 1796, sass/base.scss */
footer .fusion-widget-area > div.fusion-column-last {
  border-right: none;
}
/* line 1800, sass/base.scss */
footer .fusion-copyright-notice {
  font-size: 0.9em !important;
  color: #575757 !important;
}
