@import "settings";

.postbox-container{
  .utazasalap-postbox{
    h2.hndle{
      font-size: 1.2em !important;
      background: #F8BE38;
      color: white;
    }
  }
  .utazaseditor-postbox{
    h2.hndle{
      font-size: 1.2em !important;
      background: #1185D3;
      color: white;
    }
    .inside{
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.travel-editor{
  &.loading{
    opacity: 0.2;
    filtar:alpha(opacity=20);
  }
  & > .group {
    .ghead{
      background: #f1f1f1;
      padding: 10px 15px !important;
      margin: 0 0 15px 0 !important;
      position: relative;

      .add{
        float: right;
        background: #6fbf6f;
        color: white;
        padding: 7px;
        text-transform: uppercase;
        line-height: 1;
        font-size: 0.8em;
        position: absolute;
        top: 50%;
        right: 5px;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        &:hover{
          background: #000000;
        }
      }
    }
    .cont{
      padding: 0 15px 15px 15px;
    }

    .loading-data{
      background: #ffedb9;
      color: #58450b;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e8d8a9;
    }

    h2{
      padding: 0 !important;
      margin: 0 !important;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      font-size: 0.8em !important;
    }

    .datas,
    .datas-header,
    .create-line {
      .data-line,
      .new-line{
        & > .wrapper{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          font-size: 1.1em;
          padding: 5px 0;
          border-bottom: 1px solid #f1f1f1;

          input.fullw{
            width: 100%;
          }
          & > div {
            padding: 5px;
          }

          & > div.action {
            flex-basis: 60px;
            font-size: 0.8em;
            text-align: right;
          }
          & > div.price {
            flex-basis: 100px;

            span.ba {
              font-size: 0.8em;
            }
          }
          & > div.durration {
            flex-basis: 120px;
          }
          & > div.req {
            flex-basis: 60px;
          }
          & > div.date {
            flex:1;
          }
          & > div.active {
            flex-basis: 40px;
          }
          & > div.title {
            flex:1;
          }

          .center {
            text-align: center;
          }

          .desc{
            font-size: 0.8em;
            margin: 5px 0 0 0;
            color: #888888;
          }
        }
      }
    }

    .rooms{
      .date-group{
        & > .header{
          background: $color-blue;
          padding: 10px 15px;
          border-radius: 20px;
          color: white;
          margin: 0 0 5px 0;
          text-align: center;
          font-size: 1.2em;
        }
      }

      .ellatas-group{
        padding-left: 8px;
        & > .header{
          background: $color-orange;
          padding: 8px 10px 8px 8px;
          border-radius: 20px;
          color: white;

          .n{
            float: left;
            background: #656565;
            color: white;
            margin: 0 5px 0 0;
            width: 19px;
            border-radius: 20px;
            text-align: center;
            font-size: 0.7em;
            line-height: 19px;
          }
        }

        .room {
          padding: 0 5px;
          margin: 0 0 5px 14px;
          border-left: 5px solid #f5f5f5;
        }

        .room-header{
          padding: 2px 5px 0 14px;
          font-size: 0.8em;
          line-height: 1;
          & > .wrapper{
            border-radius: 0 5px 5px 0;
            background: #f5f5f5;
          }
        }

        .room,
        .room-header{
          & > .wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 1.1em;
            padding: 5px 0;

            input.fullw{
              width: 100%;
            }
            & > div {
              padding: 5px;
            }
            & > div.action {
              flex-basis: 80px;
              font-size: 0.8em;
              text-align: right;
            }

            & > div.capacity{
              flex: 1;
            }

            & > div.price {
              flex-basis: 100px;

              span.ba {
                font-size: 0.8em;
              }
            }
            & > div.title {
              flex:1;
            }
            & > div.active {
              flex-basis: 40px;
            }

            .center {
              text-align: center;
            }

            .desc{
              font-size: 0.8em;
              margin: 5px 0 0 0;
              color: #888888;
            }
          }
        }
      }

      .create-line{
        .new-line{
          & > .wrapper{
            flex-wrap: wrap;
            & > .datas{
              flex: 1;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              margin: -5px;

              label {
                margin: 0 0 5px 0;
                display: block;
                line-height: 1;
                font-size: 0.8em;
              }

              select.fullw{
                width: 100%;
              }

              & > div {

              }
              .w {
                padding: 5px;
              }
              & > .avdate,
              & > .ellatas{
                flex-basis: 50%;
              }
              & > .title{
                flex: 1;
              }
              & > .price{
                flex-basis: 110px;
              }
              & > .capacity{
                flex-basis: 140px;
              }
              & > .active{
                flex-basis: 20px;
              }

            }
          }
        }
      }
    }

    .datas-header{
      .wrapper{
        border-bottom: 2px solid #c7c7c7 !important;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em !important;
        margin: 0 0 8px 0;
        color: #545454;
      }
    }

    .create-line{
      .header{
        text-align: center;
        font-weight: bold;
        font-size: 1.1em;
        margin: 10px 0;
        text-transform: uppercase;
        color: orange;
      }
      .footer{
        .saving{
          background: #57bb37;
          margin: 10px 0;
          color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}
