
@import "settings";

input[type=checkbox]{
  display: none;
}
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;

  &:before {
    content: "\f096";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #a7a7a7;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}
input[type=checkbox]:checked + label {
  &:before {
    content: "\f046";
    color: #000000;
  }
}
input[type=checkbox].fake-radio + label {
  &:before {
    background: #ffffff;
    border: 2px solid #eaeaea;
    content: "\f111";
    vertical-align: middle;
    padding: 0;
    margin: 1px 0 0 0;
  }
}
input[type=checkbox].fake-radio:checked + label {
  &:before {
    content: "\f192";
    border: none;
    width: 24px;
    height: 24px;
  }
}

.tglwatcher{
  cursor: pointer;
}

.tglwatcher-wrapper,
.select-wrapper{
  position: relative;
  cursor: pointer;

  &:after {
    pointer-events: none;
    content:"\f0d7";
    font-family: 'FontAwesome';
    right: 0;
    position: absolute;
    top: 0;
    background: #5f6c77;
    height: 34px;
    width: 20px;
    text-align: center;
    line-height: 34px;
    color: #adb5bb;
  }

  &.tgl-def {
    &:after {
      height: 40px;
      line-height: 40px;
    }
  }
}

/* FIX AVADAT STYLES */
body.single{
  .fusion-page-title-bar{
    height: 380px;
    box-shadow: inset 0 -180px 200px -40px rgba(0, 0, 0, 0.85);
  }
  .fusion-page-title-wrapper{
    padding-top: 250px;
  }
}
.fusion-header-v2 .fusion-secondary-header{
  border-top: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.fusion-main-menu > ul > li > a{
  border-top: none;
  border-bottom: 3px solid transparent;
}
.fusion-modal h1, .fusion-widget-area h1, .post-content h1{
  font-size: 24px;
}
.page-width{
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
}
.fusion-main-menu .current-menu-ancestor > a,
.fusion-main-menu .current-menu-item > a,
.fusion-main-menu .current-menu-parent > a,
.fusion-main-menu .current_page_item > a,
.fusion-main-menu > ul > li > a:hover{
  border-top: none;
  border-bottom: 3px solid $color-orange;
}
.fusion-page-title-wrapper{
  padding-top: 115px;
}
.fusion-page-title-bar{
  background-size: inherit !important;
}
.fusion-header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}
.fusion-separator.short-sep{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.fusion-page-title-bar{
  background-color: #262626;
}
.fusion-contact-info{
  font-size: 1.1em;
  svg.svg-inline--fa{
    margin-right: 5px;
    vertical-align: middle;
  }
}
.avada-skin-rev{
  border: none !important;
}
.ui-widget-content{
  background:rgba(56, 56, 56, 0.9);
  color: #c7c7c7;
}
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div{
  border-color: #5d6b75;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  text-align: center;
  background: rgba(0, 0, 0, 0.58);
  border: 1px solid rgba(132, 132, 132, 0.8);
  color: #d8d8d8;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  text-align: center;
  background: $color-blue;
  color: white;
}
.ui-widget-header {
  border: 1px solid #6a7580;
  background: #727d86;
  color: #32c5ff;
  font-weight: bold;
}
.autocomplete-suggestions{
  background: rgba(56, 56, 56, 0.9);
  border: 1px solid #5d6b75;
  border-top: 1px dashed #5d6b75;

  .autocomplete-suggestion{
    padding: 4px;
    font-size: 0.9em;

    strong {
      color: #5eb4ec;
    }

    &.autocomplete-selected{
      background: rgba(11, 133, 213, 0.9);
      color: #b7dcf5;
      strong{
        color: white;
      }
    }
  }
}
.hasDatepicker{
  cursor: pointer;
}
.ui-datepicker th{
  font-family: 'Poppins', arial;
  color: #868686;
  font-weight: 300;
}

.articles{
  article{
    background: #ffffff;
    margin-bottom: 25px;

    .image {
      min-height: 500px;
      height: 500px;
      position: relative;
      overflow: hidden;
      img {
        width: auto;
        max-width: initial;
        height: 110%;
        max-height: 110%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }

    .datas{
      padding: 40px 35px 45px 35px;

      .metas{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        color: #cacaca;
        font-size: 0.95em;

        & > div{
          padding-right: 20px;

          .svg-inline--fa{
            margin-right: 5px;
          }

          strong {
            color: $color-blue;
          }
        }
      }

      .desc{
        margin: 0 0 25px 0;
      }

      .title {
        h2{
          a{
            font-size: 1.5em;
            font-weight: bold;
            color: black !important;
            text-decoration: none;
            line-height: 1.2;
          }
        }
      }
    }
    a.read-more{
      background: $color-blue;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 35px;
      font-size: 0.9em;
      display: block;
      float:left;

      &:hover{
        background: darken($color-blue, 10%);
      }
    }

    &.format-quote{
      background: $color-blue;
      color: white;

      .datas{
        padding: 40px;
      }

      .desc {
        margin: 0;
        position: relative;
        .quote-left,
        .quote-right{
          position: absolute;
          font-size: 32px;
        }
        .quote-left{
          left: 0;
          top: 0;
        }
        .quote-right{
          right: 0;
          bottom: 10px;
        }

        a{
          display: block;
          padding: 0 45px;
        }
        .by{
          text-align: right;
          font-size: 0.8em;
          margin-top: 10px;
        }
      }

      a{
        color: white;
        text-decoration: none;
      }
    }
  }
  .cat-header{
    margin: 0 0 25px 0;
    h1{
      font-size: 2em;
      color: black;
      margin: 0 0 5px 0;
    }
    .count-post{
      text-align: center;
      margin: 0 0 15px 0;
      color: #7c7c7c;
    }
  }
}

.sidebar {
  &.article-sidebar{
    h3 {
      color: black;
      margin: 0 0 15px 0;
    }

    .tags{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: -5px;

      .tag {
        padding: 5px;
        a{
          background: #ffffff;
          display: block;
          color: #4c4c4c;
          font-size: 0.8em;
          padding: 10px;
          line-height: 1;
          text-transform: capitalize;
          border: 1px solid #eaeaea;
        }
      }
    }
  }
  .recent-post{
    margin-bottom: 25px;
    .popular-articles{
      article{
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
        h4 {
          margin: 0 0 5px 0;
          line-height: 1.2;
          a{
            color: $color-blue;
            text-decoration: none;
          }
        }
        .data{
          color: #b9b9b9;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          font-size: 0.65em;
          justify-content: space-between;

          .cats{
            a{
              color: black;
            }
          }
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

.listing-utazasok{
  .list-wrapper{
    padding: 30px 0;
  }
}

.travels{
  margin: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .travel{
    padding: 20px;
    flex-basis: calc(100%/3);
    .wrapper{
      background: #ffffff;
      position: relative;
      box-shadow: 0 5px 20px -5px #d2d8dc;
      border-radius: 3px;

      .badges {
        position: absolute;
        top: 10px;
        left: -10px;
        pointer-events: none;

        & > div {
          position: relative;
          margin: 0 0 10px 0;
          background: rgba(74, 74, 74, 1);
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.8em;
          padding: 10px 10px 10px 20px;
          pointer-events: none;

          &:after{
            position: absolute;
            content: "";
            left: -10px;
            bottom: -10px;
            background: transparent;
            border-width: 10px;
            border-style: solid;
            border-color: transparent rgba(74, 74, 74, 1) transparent transparent;
          }

          &.discounted{
            background:$color-blue;
            &:after{
              border-color: transparent $color-blue transparent transparent;
            }
          }
          &.highlighted{
            background:#e83939;
            &:after{
              border-color: transparent #e83939 transparent transparent;
            }
          }
        }
      }

      .image{
        border-radius: 3px 3px 0 0;
        overflow: hidden;

        img{
          max-width: 100%;
        }
      }

      .datas{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 15px;

        .title {
          flex: 1;
          h3 {
            margin: 0;
            line-height: 1.1;
            font-size: 1em;

            a {
              line-height: 1.2;
              color: black;
              display: block;
              text-decoration: none;
            }
          }
        }
        .price {
          flex-basis: 100px;
          text-align: right;
          line-height: 1.2;

          .old{
            color: #c1c1c1;
            text-decoration: line-through;
          }

          .current{
            font-weight: bold;
            color: $color-blue;
            font-size: 1.1em;
          }
        }
        .position,
        .duration{
          flex-basis: 100%;
          margin: 10px 0 5px 0;

          .svg-inline--fa{
            width: 20px;
            text-align: center;
            color: $color-blue;
          }
        }

        .position{
          font-size: 0.9em;
          color: $color-orange;
          .svg-inline--fa{
            color: #f75119;
          }
        }
      }
    }
  }
}

.destination-searcher-holder{
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: -10px;

    & > div {
      flex-basis: calc(100%/5);
      .iwrapper{
        padding: 10px;

        & > label {
          color: white;
          font-weight: bold;
          font-size: 0.9em;
          margin: 0 0 15px 0;
          display: block;
        }

        .input-wrapper{
          background: rgba(126, 168, 195, 0.28);
          border: 1px solid #616f79;
          position: relative;
          .ico {
            pointer-events: none;
            position: absolute;
            right: 5px;
            color: #adb5bb;
            top: 50%;
            -webkit-transform:translateY(-50%);
              transform:translateY(-50%);
          }

          input[type=text] {
            background: transparent;
            border:none;
            padding: 0 25px 0 10px;
            height: 34px;
            line-height: 34px;
          }
        }
      }

      &.keywords{
        flex-basis: 40%;
      }
      &.location{
        flex-basis: 25%;
      }
      &.ellatas,
      &.datetime{
        flex-basis: calc(35%/2);
      }
      &.durations,
      &.utazasmod{
        flex-basis: 20%;
      }
      &.szolgaltatasok{
        flex-basis: 40%;
      }
    }

    .srcbutton{
      button {
        cursor: pointer;
        height: 36px;
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        background: $color-blue;
        border: none;
      }
    }
  }

  &.manual-insert{
    background-color: #343434;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    .wrapper{
      width: $page-width;
      margin: 0 auto;
      padding: 25px 0;
    }
  }
}

.multi-selector-holder{
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: none;

  &.opened {
    display: block;
  }

  .selector-wrapper {
    background: rgba(56, 56, 56, 0.9);
    border: 1px solid #5d6b75;
    border-top: 1px dashed #5d6b75;
    margin-top: -1px;
    -webkit-box-shadow: 0 10px 26px -9px #000000;
    -moz-box-shadow: 0 10px 26px -9px #000000;
    box-shadow: 0 10px 26px -9px #000000;

    .selector-row {
      input[type=checkbox] + label{
        padding: 5px 5px 5px 35px;
        margin: 0 0 1px 0;
        font-size: 0.8em;
        width: 100%;
        display: block;
        line-height: 17px;

        .n {
          color: #d2d2d2;
          font-size: 0.85em;
        }
        &:before {
          left: 10px;
        }
      }
      input[type=checkbox] + label:hover,
      input[type=checkbox]:checked + label {
        background: rgba(11, 133, 213, 0.9);
        color: white;

        &:before {
          color: white;
        }
      }
      &.lvl-1{
        label {
          padding-left: 45px !important;
          &:before {
            left: 20px !important;
          }
        }
      }
    }
    &.sel-def{
      margin-top: -2px;
      margin-right: 30px;
    }
  }
}

.tematikus-kategoria-holder{
  &.style-boxed{
    height: 320px;
    background: rgba(21, 37, 47, 0.77);
  }
}

.front-home-testimonials{
  .testimonial-content{
    text-align: center;
    color: #c8bdbb;
    font-style: italic;
  }
  .testimonial-client{
    text-align: center;
    .testimonial-name{
      font-weight: bold;
      font-size: 1em;
      color: white;
      text-transform: uppercase;
    }
    .testimonial-destination{
      color: $color-blue;
    }
  }
}

.postlist-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .head {
    margin: 0 0 25px 0;
    font-weight: bold;
    color: black;
    font-size: 1.1em;

    .links{
      float: right;
      font-size: 0.56em;
      font-weight: normal;
      color: #b7b7b7;
      margin: 5px 0 0 0;

      a{
        font-size: 1.1em;
        margin: 0 3px;
      }
    }

    .svg-inline--fa {
      color: $color-blue;
      font-size: 18px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  & > div.newest-article{
    flex-basis: 60%;
  }
  & > div.more-articles{
    flex: 1;

    article{
      border-bottom: 1px solid #e4e4e4;
    }
    article:last-child{
      border-bottom: none;
    }
  }

  article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;

    .image{
      flex-basis: 90px;
      border-radius: 4px;
      overflow: hidden;
    }

    .data{
      flex: 1;
      font-size: 0.9em;
      padding-left: 10px;

      .title{
        a{
          color: black;
          text-decoration: none;
          line-height: 1.2;
          font-weight: bold;
          display: block;
          overflow: hidden;

          &:hover{
            color: $color-blue;
          }
        }
      }

      .meta{
        font-size: 0.8em !important;
        margin: 10px 0 0 0 !important;
        color: $color-blue !important;
        font-weight: bold !important;

        .svg-inline--fa {
          color: #acacac !important;
          margin-right: 5px;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  div.newest-article{
    padding-right: 25px;
    article{
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      .image{
        flex-basis: 100%;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 25px;
        height: 276px;
        position: relative;
        box-shadow: 0 25px 30px -13px #ababab;

        img {
          position: absolute;
          top: 50%;
          left: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      .data{
        padding-left: 0 !important;
        .desc {
          margin: 15px 0 5px 0;
          line-height: 1.4;
          font-size: 0.8em;
        }
        .title{
          a{
            color: $color-blue !important;
            font-size: 1.6em !important;
          }
        }
      }
    }
  }
}
body.archive.post-type-archive-utazas{
  #main {
    background: #e7edf1 !important;
    padding: 0 !important;
  }
}

body.single-post {
  .content-inside{
    color: #323232;
  }

  .author-data{
    border-top: 1px solid #dfdfdf;
    margin: 40px 0;
    padding: 30px 0 0 0;
    text-align: center;
    color: #343434;

    .author-title {
      color: #b2b2b2;
      font-style: italic;
      margin: 0 0 5px 0;
      font-size: 0.8em;
    }
    .name {
      color: black;
      font-size: 1.5em;
      margin: 0 0 10px 0;
    }
    .desc {
      line-height: 1.4;
      color: grey;
      font-size: 0.9em;
    }
  }
}

body.single-utazas{
  #wrapper{
    background: white;
  }
  #main {
    padding: 0 !important;
  }
  #primary.content-area{
    #content{
      float:none;
      width: 100%;
    }
  }

  .fusion-page-title-bar{
    .meta{
      font-size: 1.1em;
      .kiemelt{
        background: #e83939;
        font-size: 0.65em;
        padding: 4px 6px;
      }
      .positions{
        color: $color-orange;
      }
    }
  }

  .travel-main-params{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -25px;

    & > div {
      flex-basis: 50%;
      padding: 5px 25px;
      font-size: 1.13em;
      color: #2c2c2c;

      .svg-inline--fa{
        width: 25px;
        text-align: center;
        color: $color-blue;
      }
    }
  }
}

.travel-base-wrapper{

  .fake-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;

    .fake-inside{
      flex-basis: calc(100% - 350px);
      padding-right: 25px;
    }
  }

  .travel-header{
    background: #eaeaea;
    padding: 30px 0;
  }
  .travel-nav{
    background: #e0e0e0;
    padding: 0;
    position: relative;
    z-index: 10;

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      li{
        display: inline-block;
        *display: inline;
        zoom: 1;

        a{
          display: block;
          font-weight: bold;
          color: #b3b3b3;
          padding: 25px 20px;
          font-size: 0.9em;
          border-bottom: 3px solid transparent;
        }

        &.active {
          a {
            border-bottom: 3px solid $color-blue;
            color: #313131;
          }
        }
      }
    }
  }
  .base-content-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: $page-width;
    margin: 0 auto;
    padding: 35px 0;

    h2 {
      .svg-inline--fa{
        color: $color-blue;
      }
    }

    .travel-contents{
      flex: 1;
      padding: 0 25px 0 0;

      a.gotop{
        text-align: right;
        color: #c5c5c5;
        font-size: 0.7em;
        letter-spacing: -0.5px;
        margin: 5px 0;
        display: block;
      }
    }

    .sidebar{
      flex-basis: 350px;

      .sidebar-fix-holder{
        position: relative;
        top: 0;
        z-index: 20;
      }
    }
  }
  &.fixedelements{
    .travel-nav{
      z-index: 10;
      position: fixed;
      top: 65px;
      left: 0;
      right: 0;
      box-shadow: 0 5px 10px -2px rgba(187, 187, 187, 0.88);
    }
    .base-content-holder{
      padding-top: 115px;
    }
  }
}

body.admin-bar{
  .travel-base-wrapper.fixedelements .travel-nav{
    top: 97px;
  }
}

.utazas-sidebar{
  box-shadow: 0 0 8px -1px #acacac;
  color: #545454;
  font-size: 0.9em;

  .swrapper{
    padding: 15px;
  }

  .discount{
    background: transparentize(darken($color-blue, 10%), 0.1);
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0;
    line-height: 3;
  }
  .sidebar-header{
    color: white;
    background: transparentize($color-blue, 0.1);

    .price{
      text-align: center;
      font-size: 1.2em;
      padding: 20px 0;

      .current {
        font-weight: bold;
        font-size: 1.5em;
      }
      .old {
        margin-right: 10px;
        font-size: 0.9em;
        color: #a8cce4;
        text-decoration: line-through;
      }
    }
  }
  .sidebar-content{
    background: rgba(255, 255, 255, 0.91);
  }
}

.comments {
  .commentlist div.avatar{
    border-radius: 55px;
    overflow: hidden;
  }
  .comment-numbers{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
    margin: 0 0 30px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .comment-box{
    .comment-text{
      margin: 20px 0 0 69px;
    }
    .comment-author{
      strong {
        color: #323232;
        font-size: 1.45em;
      }

      .date{
        font-size: 1.1em;
        margin: 10px 0 0 0;
        color: #9c9c9c;
      }
    }
    .comment-reply-link
    {
      margin-left: 5px;
      float: right;
      color: #757575;
      font-weight: bold;
      font-size: 0.8em;
      text-transform: uppercase;
    }
    .comment-edit{
      margin: 10px 0 0 69px;

      .svg-inline--fa{
        font-size: 10px;
        margin-right: 5px;
        color: #ec7878;
      }
    }
    .comment-edit-link{
      font-size: 0.65em;
      color: #ec7878;
    }
  }
}
.comment-respond{
  background: #ededed;
  padding: 40px;
  .comment-form .form-submit{
    text-align: center;
  }
  .comment-form #comment-submit{
    margin: 0 auto;
    background-color: $color-blue;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  .logged-in-as{
    text-align: center;
    color: #4c4c4c;
    font-size: 0.85em;
    margin: 0 0 35px 0;
  }
  .fusion-title .title-sep-container{
    display: none;
  }
  .fusion-title{
    margin: 0 0 10px 0 !important;
    h3{
      flex-basis: 100%;
      padding: 0 !important;
      text-align: center !important;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}

body.single .fusion-page-title-bar{
  background-position: center;
}
.single-post-caption{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  .date {
    flex-basis: 80px;
    padding: 0 25px 0 0;
    border-right: 1px solid white;
    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 1;
    color: #808080;

    .day {
      font-size: 4em;
      font-weight: bold;
      color: white;
    }
  }
  .titledata{
    flex: 1;
    padding: 0 0 0 25px;

    .meta{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      color: white !important;
      margin-top: 10px;

      .svg-inline--fa{
        color: white;
        margin-right: 5px;
      }

      a {
        color: white;

        &:hover{
          color: $color-blue;
        }
      }

      & > div {
        margin-right: 20px;
      }
    }
  }
}

.contact-form-holder{
  .requester-holder,
  .btns{
    margin: 0 auto;
  }
  .requester-holder{
    .flxtbl{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 -5px;
      & > div {
        padding: 5px;
        input[type=text],
        textarea{
          color: #4c4c4c;
          width: 100%;
          border: none;
          padding: 25px;
          font-size: 1.1em;
          border: 1px solid transparent;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #9c9c9c;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #9c9c9c;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #9c9c9c;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #9c9c9c;
          }
          &.missing{
            border: 1px solid #ffb5aa;
          }
        }
      }
      & > .name,
      & > .email {
        flex-basis: 50%;
      }
      & > .subject,
      & > .uzenet{
        flex-basis: 100%;
      }
    }
  }
  .btns{
    button {
      background: $color-blue;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.85em;
      padding: 15px;
      width: 100%;
      border: none;
      cursor: pointer;
      -webkit-transition: all .6s;
      transition: all .6s;

      &.in-progress{
        background: #d5600b;
      }
      &.sended{
        background: #3ace8b;
      }
    }
  }
}

footer {
  .contact-info-container{
    p{
      margin-bottom: 8px !important;
    }
  }
  .fusion-widget-area{
    & > div.fusion-column{
      border-right: 1px solid #2e2e2e;
    }
    & > div.fusion-column-last{
      border-right: none;
    }
  }
  .fusion-copyright-notice{
    font-size: 0.9em !important;
    color: #575757 !important;
  }
}
